[2016-12-20 15:36] nathanaelphilip opened #1 "Invalid Component definition"
Hi! Thanks for putting this together :)

I’m getting a `Invalid Component definition:` error when trying to load in an SVG.

This is how I’ve set it up in the component:
[code]

This is the webpack 1.x config loaders:
[code]

Does the SVG need to be set up a certain way? Let me know if you need anything else to help debug.

Thanks again!

[2016-12-20 16:42] nathanaelphilip commented on #1
It seems like it could be an issue with the SVG icon itself – is there a specific way to export it?

[2016-12-20 16:54] visualfanatic commented on #1
I'm super glad that somebody beside me is using this package! Could you share the SVG file you are trying to use?

[2016-12-20 16:54] nathanaelphilip commented on #1
Sure!

[code]

[2016-12-20 16:55] nathanaelphilip commented on #1
I also found this: https://github.com/tcoopman/image-webpack-loader/issues/14
I’m not sure if that relates to this issue. I didn’t see anything that corresponded to my set up, but he was getting the same error.

I’m using the vue-cli to generate the webpack config – if that helps.

[2016-12-20 17:44] visualfanatic commented on #1
Okay, I see the problem, just remove `svg` from this `test` property: `/\.(png|jpe?g|gif|svg)(\?.*)?$/`.

[2016-12-20 17:46] nathanaelphilip commented on #1
yay!

[2016-12-20 17:46] nathanaelphilip commented on #1
thank you :)

[2016-12-20 17:46] #1 closed

[2016-12-20 17:58] nathanaelphilip commented on #1
Also, i had my .svg in assets/icons folder, I think moving them to assets/img and I think that helped too. Thanks again – this is a life saver.

[2017-07-17 23:42] santigarcor opened #4 "Invalid Component definition"
I'm using your loader with vue 2.3.4 and after runing webpack and checking it in the browser it says `Invalid Component definition` but when i check the .svg it shows for example:

[code]

I don't know why it isn't working.

[2017-07-29 01:07] jdfx opened #5 "Strips ID's from paths?"
Seems as though the loader stips ID's from paths? Or am I doing something wrong? :)

Thanks

[2017-08-02 17:24] visualfanatic commented on #4
Could you attach your svg file?

[2017-08-02 17:25] visualfanatic commented on #4
@santigarcor Could you attach your svg file?

[2017-08-04 10:40] andreasvirkus opened #6 "Use render function instead"
Hello. Love the loader! But Vue complains when using it in an SSR setup:
[code]

Any suggestions?

[2017-08-04 14:16] visualfanatic commented on #6
Could you share your SSR setup? I've created a super simple SSR app and couldn't reproduce that warning.

[2017-08-04 14:20] andreasvirkus commented on #6
Hi, unfortunately it'd be quite a hassle... But it's almost an exact copy of Vue's own hackernews 2.0 example (at least the important parts like `entry-server.js`, `entry-client.js`, `main.js`, both webpack configs, etc). Could you share the usage in your simple SSR app?

[2017-08-07 18:37] dsbert opened #7 "Module parse failed error"
I'm getting the following error when I attempt to load an svg icon. If I manually paste the contents of the svg file into the `<template>` tag, the icon renders as expected. Is there something else I'm missing in the webpack config?

[code]

My webpack loader configuration

[code]

My `vue` file.

[code]

The SVG file contents

[code]

[2017-08-09 02:52] santigarcor commented on #4
@visualfanatic
[code]

[2017-08-09 09:52] 4ver commented on #6
https://github.com/visualfanatic/vue-svg-loader/pull/8

[2017-08-10 17:25] danciupuliga commented on #7
I have the same issue.. with a very similar setup

[2017-08-15 10:58] miralize opened #9 "Publish v0.2.0 to NPM"
Hey, could you publish the latest version to NPM?

[2017-08-19 15:13] visualfanatic commented on #9
Done!

[2017-08-19 15:13] #9 closed

[2017-08-19 15:16] visualfanatic commented on #7
Please try updating to v0.2, let me know if that problem still occurs.

[2017-08-19 15:17] visualfanatic commented on #6
@andreasvirkus could you update to v0.2 and tell me if the SSR works now?

[2017-08-19 15:18] visualfanatic commented on #4
Weird, could you try updating to v0.2?

[2017-08-19 19:06] choskim commented on #5
@jdfx: You're not doing anything wrong. That is the default setting.
@visualfanatic: Are you still actively maintaining this? If not, I'm going to fork and resolve @jdfx problem.

[2017-08-20 16:10] sijakret commented on #4
same problem here..

[2017-08-21 15:52] dsbert commented on #7
Seems to be working now. Thanks

[2017-08-21 15:52] #7 closed

[2017-09-06 11:20] fatsheepcn opened #10 "how to pass svg to child component?"
[code]

Usage of `icons` in child component is wrong, and how can I use  props `icons` ?

[2017-09-06 20:26] havgry commented on #4
https://github.com/visualfanatic/vue-svg-loader/issues/1#issuecomment-268308578 solved it for me.

[2017-09-07 07:54] fatsheepcn commented on #10
I solved this issue, hope help others.

[code]

[2017-09-07 07:54] #10 closed

[2017-09-07 08:44] matpeder commented on #5
I have been browsing around this repo and it seems it's not currently possible to pass svgo options to the loader to override the defaults. Is this true @visualfanatic?
...And is this what you were planning on resolving @choskim?

[2017-09-07 10:31] jdfx commented on #5
@choskim that would be amazing. Stripping ID's renders the loader useless to me as I am working with animated svg's using gsap etc which references those id's heavily.

If you have any luck please do let me know or I could have a go at tackling it myself (badly probably!)

[2017-09-07 10:32] jdfx commented on #5
For now I am having to render the SVG's as static assets but this does feel very un-webpack like

[2017-09-26 16:02] matpeder commented on #5
@jdfx I've submitted a pull request that essentially does what @choskim was hinting at by implementing svgo options into the loader. You're welcome to test it out in your setup and give your feedback. Should be much more "webpack like". Usage is just like other similar loaders out there that implement svgo:
[code]

[2017-09-26 16:13] jdfx commented on #5
@matpeder Amazing! The way I've beeen loading SVG's into Vue has really been bugging me, thanks. I will test this out asap.

[2017-10-20 21:20] EyePulp commented on #7
I'm getting a near identical issue with a near identical setup. Running v0.2 of this package with Vue 2.5.2, getting this error:
[code]

example `assets/img/claim.svg` I'm testing with:
[code]

webpack config:
[code]

I've tried other `.svg` files as well, will be happy to try any fixes.  Thanks!

[2017-10-22 21:23] visualfanatic commented on #7
[code]
@EyePulp try removing `svg` from the regex and let me know if is still breaks.

[2017-10-22 21:48] visualfanatic commented on #6
I am closing this for now, please create a new issue if you still have this or similar problem, will do my best to help :+1:

[2017-10-22 21:48] #6 closed

[2017-10-22 21:51] visualfanatic commented on #5
Sorry for this super delay, I had zero free time for the last three months. I merged @matpeder PR, so you can just update `vue-svg-loader` to v0.3.0 and copy the code snippet that @matpeder shared. Let me know if you still have issues after doing that.

[2017-10-22 21:55] visualfanatic commented on #4
@sijakret, @havgry, @sterlini-fueled: do you still have this problem? Let me know, so we can find a solution 👍

[2017-10-22 22:12] havgry commented on #4
For me it was definitely just a conflict between file-loader and vue-svg-loader on the matched file types in my webpack configuration (see my reference above). I haven't had any issues since then.

Perhaps it would be a good idea to add a reminder in the readme to check for conflicts with other existing rules.

[2017-10-24 17:58] EyePulp commented on #7
@visualfanatic that was it - sorry for the dumb mistake!

[2017-10-24 18:28] sijakret commented on #4
i think it was the same for me - thanks!
haven't had any issues recently, a mention of potential conflicts with other loaders is for sure not a bad idea!

[2017-10-24 18:36] #4 closed

[2017-11-09 18:29] nathanaelphilip opened #14 "Return path of icon"
I think in the earlier versions of vue-svg-loader, if you used the imported Icon inside your .vue <script>, it would return the path to the icon. That seems to have stopped – is there a way to re-implement that? Or is there a way for me to get that from the returned object?

[2017-11-10 23:08] nathanaelphilip commented on #14
Or is there a way to just render out the HTML? from the returned vue-template-compiler object?

[2017-11-14 20:17] nathanaelphilip commented on #14
@visualfanatic just pinging because this is a pretty big blocker for me. I know you have other things, but if you could look at this soon, I would appreciate it – bigly.

[2017-11-16 14:55] visualfanatic commented on #14
Merged & published as `v0.4.0`

[2017-11-16 14:55] nathanaelphilip commented on #14
Thank you so much @visualfanatic !

[2017-12-13 14:31] ferrybig opened #17 "Update dependency of svgo to at least version 1.0.0"
Since svgo 1.0.0, there is a plugin called inlineStyles, the basically copied the styling from the style tags to the svg itself. This is needed as some editors like illustrator exports the svg using this inline styling.

Because vue-svg-loader forces its dependencies on svgo, there is no way to load svg files exported by illustrator, unless, you manually add svgo loader in front of the webpack loa

[2017-12-20 16:56] realtruckjoshdeltener opened #18 "'use strict' doesn't like with(this)"
We are using this lib and are combining it with other JS resources.  The problem is those resources are 'use strict' and so the build blows up on the svg's because the render function contains "with(this)" .. I know this is probably coming from one of your dependencies, but it sure would be nice if your system handled it.  I don't think the rendered functions even use 'this' so maybe you could jus

[2018-01-05 23:24] steveops commented on #14
Hi all, am trying to use an svg as a background image like this:
[code]
This doesnt seem to work and upon inspecting the element, I see this:
<img width="296" alt="screen shot 2018-01-06 at 02 22 56" src="https://user-images.githubusercontent.com/12711215/34632784-9509deaa-f288-11e7-9ebb-dc90f12199b6.png">
How can I solve this?

[2018-01-10 17:14] chenmach commented on #18
vue-template-compiler uses the with(this) syntax. change it there seems to be a hard job .
For our simple case of svg components , strip out the "with(this)" and use regular "this" seems to work.
you can take a look at https://github.com/chenmach/vue-svg-loader/commit/d13b3aceebcb6217b87ebfdc54362d31295be004
Im using it on my project - and it works for me

[2018-01-18 20:15] Hjarnmastara opened #19 "Error when loading svg file."
Hi,

After adding a svg through your webpack plugin it displays correctly but yet triggers the following error in the console:

Error: <path> attribute d: Expected number, "…6.81h9.51v22.19aNaN NaN 0 0
It's at el.setAttribute(key, value); from vue.esm.js.

Any idea what is causing this?

Kind regards,
Ward

[2018-01-19 11:11] visualfanatic commented on #19
Could you share the SVG that is causing this error?

[2018-01-30 20:02] visualfanatic commented on #19
@Hjarnmastara?

[2018-01-30 21:41] visualfanatic commented on #14
@steveops Please use `url-loader` if you want to use SVG files in CSS.
@nathanaelphilip I am preparing a new version of `vue-svg-loader` and I was wondering what type of path you were looking for before creating this issue. Relative or absolute? I am asking, because right now this loader gives you a relative path to file, but next release would break that and return an absolute path.

[2018-01-30 23:27] visualfanatic commented on #18
@realtruckjoshdeltener @chenmach In v0.5.0 I've made some changes to the compiling process and now the end result doesn't contain the `with` statement.

[2018-01-30 23:27] #18 closed

[2018-01-30 23:28] visualfanatic commented on #17
Done in v0.5, thanks!

[2018-01-30 23:28] #17 closed

[2018-01-30 23:28] #14 closed

[2018-01-30 23:28] #5 closed

[2018-02-14 04:49] stephendliang opened #21 "Can't get to work"
So, I've placed the files correctly into the directory, and have imported them

Template is:

[code]

Script is:

[code]

I've also put the config code in my `webpack.base.conf.js`

---

I (@visualfanatic) updated your issue, so HTML and JS display correctly 👍

[2018-02-14 19:23] visualfanatic commented on #21
Is there any error? If not, then maybe those SVGs loaded, but don't have any `width` / `height` attributes?

[2018-02-21 18:30] derhedwig opened #22 "Documentation: remove other svg loaders"
Hi!
Just tried vue-svg-loader.
I started my project via `vue init webpack`, which had put
[code]
in my `webpack.base.conf.js`. I had to remove 'svg' from it, to make vue-svg-loader work.

I'm a novice with webpack, but I presume others might have the same problem, so please include it in your README.md

[2018-02-23 06:44] egorzekov opened #23 "Some SVG are empty after 0.5.0 release"
Hello @visualfanatic.

First of all, thanks a lot for your work on this package. As for Junior Developer, I just can't describe how I like the easiness of using SVG in my Vue project using **vue-svg-loader**.

Unfortunately, after I updated all packages in my project, your loader stops working properly for some SVG. **Actual result:** some SVG are just empty. I downgraded the package to 0.3.0 - an

[2018-02-23 13:28] visualfanatic commented on #23
Hi! 👋 Thank you for the kind words! Could you share your webpack config? I created a test project using `vue-cli`, added `vue-svg-loader` and those both SVGs are working. The `v0.5.0` is using upgraded `svgo` package, so it's my first idea why those files are causing some problems.

[2018-02-23 15:40] egorzekov commented on #23
Thanks for such rapid reply.

I performed a deeper investigation and found out the following things. Before sharing you SVG code that stopped working, I compressed it using some site (the first link in Google). I've just tried compressed variant for myself - and it works.

Comparing it to my initial variant (that used to work with 0.3.0), I found out that setting up width\height in <svg> tag brake

[2018-02-23 22:11] visualfanatic commented on #23
Same result unfortunately, could you create a test project using `vue-cli` with [this config](https://gist.github.com/visualfanatic/d005fca726b7742d594805d474c41df2) and tell me if the SVG shows up?

[2018-02-26 08:45] egorzekov commented on #23
Hello @visualfanatic.

I've spent a couple of hours today trying to understand the root cause and find a way to reproduce it on a clean project. Luсkily, it seems that I've finally got it.

I created [a repo for you](https://github.com/egorzekov/vue-svg-loader-issue) with all necessary details and comments. Please take a look at [App.vue](https://github.com/egorzekov/vue-svg-loader-issue/blob/mast

[2018-02-28 20:38] visualfanatic commented on #23
@egorzekov Thank you for creating the repo! I've managed to find the solution to this issue, to fix the issue disable the `removeViewBox` rule, like so:
[code]

This rule was [disabled by default](https://github.com/svg/svgo/compare/ad05378...5daa89d#diff-1f032887ecd460424aa526622f8d1b94L5) before the `v1.0` release, I'll make sure to put this tip in the upcoming `readme` update.

[2018-03-01 05:33] egorzekov commented on #23
@visualfanatic thank you!

It was a real pleasure for me to communicate with you!

Have a great weekend!

P.S. Please let me know if I can remove my test repo.

[2018-03-05 10:08] vAhyThe opened #24 "problem with Id"
hi,
is there some possibilities to make random generated id. Because without it svg images collide together.
thx

[2018-03-05 13:36] visualfanatic commented on #24
Yes, but first of all you have to use `v0.5.0`, then you just need to adjust the loader options a bit, like so:
[code]

If you want to customize generated IDs, you can pass a function instead of `true` to the `prefixIds` plugin. For example, if you want to generate IDs that are prefixed by the SVG file name, you can do like that:
[code]

[2018-03-05 13:58] vAhyThe commented on #24
thx this work like charm, btw also create class on main `svg` if there png image inside

[2018-03-05 20:28] visualfanatic commented on #24
@vAhyThe could you explain a little bit more what do you mean?

[2018-03-06 12:05] #24 closed

[2018-03-06 12:40] egorzekov commented on #23
No problem, thank you too =)

[2018-03-06 13:39] vAhyThe commented on #24
@visualfanatic

`class="pin-Select-address__icon`
![image](https://user-images.githubusercontent.com/6084353/37035217-17889690-214c-11e8-9e57-27bd4878f034.png)

[2018-03-06 20:17] visualfanatic commented on #19
If you still have a problem, please reopen this issue, I am closing it for now.

[2018-03-06 20:17] #19 closed

[2018-03-06 20:17] visualfanatic commented on #21
If you still have a problem, please reopen this issue, I am closing it for now.

[2018-03-06 20:17] #21 closed

[2018-03-07 15:23] stephendliang commented on #21
I tried another loader, which worked, but its workflow was too complex. I changed the code so that there were width and height attributes
`<MainLogo class="icon" width="48px" height="48px"/>.`

[2018-03-09 09:20] H3xx3n commented on #22
Hi. Same for me. But I also need to still have url loader for other .svg files a part for the ones used by vue.
Is there a way to test only the files that are required inside vue app entry?

[2018-03-12 13:17] vAhyThe opened #25 "problem with svg in scss"
Hi,

if i have svg  like `background-image: url("./img/some.svg");`
it dont works now after i install `vue-svg-loader`
and its private `Cannot GET /Applications/someproject/src/components/somecomponent/img/some.svg`
some hints ??

thx for reply

[2018-03-12 14:25] visualfanatic commented on #25
@vAhyThe Could you share your webpack config?

[2018-03-12 14:27] vAhyThe commented on #25
[code]

[2018-03-12 14:33] visualfanatic commented on #25
I don't see anything wrong here, if you are trying to use SVG as a CSS background, then just ensure that the path is correct.

[2018-03-12 14:35] vAhyThe commented on #25
path is correct can i somehow tell in config not to compile route in scss ??

[2018-03-22 19:33] varsha-alangar opened #26 "vue-svg-loader removes some <g> tags while loading SVGs"
I am loading an external svg into my Vue application as a Vue Component using the vue-svg-loader: https://www.npmjs.com/package/vue-svg-loader?activeTab=readme. I modified the loader configuration to make sure the IDs don't get dropped:

[code]
The svg I am trying to load looks something like this:

[code]
Using the loader, the svg loads successfully, but some of the tags get dropped. The resultin

[2018-03-22 20:40] visualfanatic commented on #26
@varsha-alangar could you try the following loader configuration?
[code]

[2018-03-22 22:54] varsha-alangar commented on #26
That worked perfectly! Thanks!

[2018-03-22 23:10] #26 closed

[2018-04-08 09:47] Chucheen opened #27 "How to use it along with file-loader and as a background image"
I'm using file-loader with the following configuration:
[code]

and also vue-svg-loader with the following configuration
[code]

Then, in my js file
[code]

I have a couple of <img> elements that i would like to use with a src=infoImg, but when using both vue-svg-loader and file-loader, one or the other crashes. If I use only vue-svg-loader src=infoImg is equal to [object object], and if i use onl

[2018-04-08 21:27] Chucheen commented on #27
Btw, i can't use 0.5.0 because of my vue version.

[2018-04-09 01:07] Chucheen commented on #27
At this moment, i had to duplicate/change the extension for the files that i want to put inline from .svg to .inlinesvg and configure the loader as follows:
[code]

[2018-05-11 15:32] robsterlini commented on #27
@Chucheen We solved this at Fueled by using the `oneOf` functionality within Webpack:

[code]

You then import them slightly differently for the different types

[code]

[code]

[2018-05-22 12:14] pamasse opened #29 "How manipulate the SVG"
Hi,

I found your package very usefull to quickly incorporate a SVG file. Now, i would like to manipulate the SVG with vuejs, but i don't see how can i do that.
My SVG is quick big and generated with insckape, so i can't really update the file manually.

I would like to do something : d3.selectAll('.rect').on('click', ... DO something with Vuejs)

Thanks,

[2018-05-22 13:35] visualfanatic commented on #29
Hello @pamasse, you could import your SVG file into another component and manipulate the SVG inside the `mounted()` hook.

[code]

[2018-05-22 13:58] pamasse commented on #29
Thanks a lot for this response.
Just to be sure, i can't add a "dynamic" data in the SVG which will re-render only element if the data is updated ? For example :
[code]
the svg is not re-render if color is updated.

And with your solution, which is the good way to get the element 'clicked'
This not work (i get "undefined") :
[code]

[2018-05-23 18:35] visualfanatic commented on #29
@pamasse could you share the SVG file you mentioned?

[2018-06-01 19:42] 19WAS85 commented on #1
It's not working to me, I needed a different approach in the last vue/webpack versions.

Add the following into vue.config.js:

[code]

Source: https://stackoverflow.com/questions/49904540/svg-loading-vue-svg-loader-vue-warn-invalid-component-definition

[2018-06-02 11:40] visualfanatic commented on #1
@19WAS85 Vue CLI by default uses `file-loader` for the SVG files, you can easily replace it:
[code]

[2018-06-19 17:41] lukechinworth commented on #27
Awesome! thanks @robsterlini! exactly what I was looking for!

[2018-06-22 17:24] depiction opened #30 "Remove absolute paths"
I'm including svg icons in my application using relative paths.

    import CheckIcon from '../../assets/icons/check-icon.svg';

However, when I run `npm run build` absolute paths appear in app.js for these icons.

    var toString = function () {return "/Users/username/documents/project/src/assets/icons/check-icon.svg"};module.exports = { render: render, toString: toString };

(I modified the pat

[2018-07-04 11:28] andreasvirkus opened #31 "Add an option to disable SVGO completely"
Hi,

Would it be possible to add an option to remove SVGO's optimisations from the loader completely?
Currently SVGO manages to strip my style tags, even when I set `removeStyleElement: false` (it strips the style tag from `<defs>` even after I've set every svgo plugin to `false`) 😕

[2018-07-04 12:38] sam3d commented on #31
Literally having exactly the same problem and came here to see if anybody else had as well.

Gonna take a look through the source and see if I can make a PR.

[2018-07-05 13:59] sam3d commented on #22
Indeed! Webpack performs loader tests from [top to bottom](https://webpack.js.org/concepts/loaders/).

[2018-07-06 10:39] shmarts opened #35 "Multiple SVG's on the same page overwriting each others styles"
Pretty self-explanatory. If I load multiple SVG's on the same page and they both have radialGradients (but with different gradient options) for example, both will take on the styles of the first one loaded in. It's not a class or id related issue as it persists when I change them.

[2018-07-06 11:32] damvaz commented on #29
[code]
[D3 event documentation](https://github.com/d3/d3-selection/blob/master/README.md#event)

[2018-07-06 12:05] shmarts commented on #35
Realised it was SVGO's default settings, even when I seemed to have disabled it, they were being applied. Sorry for this.

[2018-07-06 12:05] #35 closed

[2018-07-08 19:13] andreasvirkus commented on #31
@sam3d I created a custom SVG loader and it turns out Vue's `vue-template-compiler` is the issue. See a relevant comment thread:
https://forum.vuejs.org/t/about-using-style-tags-inside-templates/7275

I've just changed my SVG structure to use attributes where possible and inline the styles where not. 😕

[2018-07-12 10:13] sam3d opened #36 "Is vue-svg-loader actively maintained?"
Hi @visualfanatic,

I noticed that `vue-svg-loader` doesn't appear to be actively maintained. I totally understand, as open source projects can often be a pain to manage.

I'd love to offer to be a maintainer of this module and oversee day-to-day pull requests and issues. Let me know what your thoughts are!

Sam

[2018-07-12 20:49] visualfanatic commented on #36
Hello @sam3d!
I know that things seem to be progressing slowly, but once I am done working on the documentation (using vuepress) I will work on the issues & PRs. Currently I am writing the FAQ/examples section where I plan to cover the issues we had and how to solve them with pure Vue/Vue CLI and also Nuxt.js.

I appreciate your concerns, I will keep your offer in mind, but you should see the new

[2018-07-12 21:36] sam3d commented on #36
Hey!

That's absolutely alright, thank you for keeping us in the loop 🙂

Good luck with everything! Eager to see what you've got in the works!

[2018-07-12 21:36] #36 closed

[2018-07-17 19:19] Godefroy opened #37 ""Cannot find module" with Typescript"
Hi,

This vue-svg-loader is really useful and I used it successfully with some JS projects.
Now I'm trying to use it in a project with Nuxt and Typescript and I cannot make Typescript understand that my SVGs are Vue component.

I get this error: `Cannot find module '../assets/icons/notification.svg'`

The path is right, it compiles (with errors) and works well in dev mode, but then I can't build f

[2018-07-17 20:01] Godefroy commented on #37
Ok, I found a way to fix it 😄

I made a new file `svg.d.ts` (I have other typings in `index.d.ts`) and modified the declaration like this:
[code]

I suggest you had an explanation in the README (eg: [vue-svg-icon-loader](https://www.npmjs.com/package/vue-svg-icon-loader)).

[2018-07-20 17:51] visualfanatic commented on #37
Thank you @Godefroy for reporting this!
I added the section with the solution in the docs:
https://vue-svg-loader.js.org/faq.html#how-to-use-this-loader-with-typescript

[2018-07-20 17:51] #37 closed

[2018-07-20 17:54] visualfanatic commented on #27
Thank you all! I added the section about this case in the docs:
https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs

[2018-07-20 17:54] #27 closed

[2018-07-20 17:56] visualfanatic commented on #22
Thank you @derhedwig! I added the note in the configuration section in the docs:
https://vue-svg-loader.js.org/#configuration

[2018-07-20 17:56] #22 closed

[2018-07-20 17:58] visualfanatic commented on #25
@vAhyThe @Kansuler I am sorry for the super delayed response! Do you still have this issue?

[2018-07-20 18:00] visualfanatic commented on #29
@pamasse do you still have the described issue?

[2018-07-20 19:16] vAhyThe commented on #25
@visualfanatic yes, but its not crucial.
Because its best to use `svg` inline and thats what this plugin do. :)
But will be good to have without any complication.

[2018-07-25 03:54] koresar opened #38 "How to add it to Jest configuration?"
The `MyComponent` is importing an SVG file, and then using it in the code. I cannot unit test such component because vue-svg-loader is not configured in my Jest.

[code]

The unit test throws... Cannot render the SVG.

How to add `vue-svg-loader` to the Jest configuration?

[2018-07-25 07:11] visualfanatic commented on #38
There is one major issue when it comes to integrating `vue-svg-loader` with Jest, and it is async behaviour. Jest's transforms are synchronous, webpack loaders can be both. That means we cannot use SVGO to process the SVG files, which can be bad in some cases. I suggest you and everybody to always pass the SVG files through SVGO before putting them in a project [(for example using this great tool)

[2018-07-25 10:50] visualfanatic commented on #38
@koresar have you had a chance to test the solution above?

[2018-07-25 11:15] koresar commented on #38
Hello.

Sorry mate. I had no chance.

We've decided to just rename the file extension from .svg to .vue and wrap
it in the <template> tag. As the result no additional configuration needed
anywhere.

Cheers

On Wed., 25 Jul. 2018, 20:50 Damian Stasik, <notifications@github.com>
wrote:

[2018-07-26 12:19] visualfanatic commented on #38
No problem at all 👍

[2018-07-26 12:19] #38 closed

[2018-07-26 18:49] MattCCC opened #39 "Usage with url-loader"
Hi everyone,

firstly, thank you for a great loader! Works very well, although I'd like to use vue-svg-loader with url-loader. vue-svg-loader for Vue components and url-loader for css files. Before to use vue-svg-loader I had the following rule:
[code]
However they don't seem to work together with vue-svg-loader.

[2018-07-26 20:53] visualfanatic commented on #39
Hello, thank you for the kind words! If you want to use those two loaders, each one in a different scenario, you need to slightly modify your config:
1. Change `use` into `oneOf`.
2. Add `resourceQuery: /inline/` to the object that contains the `vue-svg-loader` config.

webpack needs to know explicitly when to use a particular loader, to do this you need to use the `resourceQuery`, this way you ca

[2018-08-01 16:51] Vlaoff commented on #39
@visualfanatic

What do you mean by this ?

[2018-08-01 17:33] visualfanatic commented on #39
I meant modifying this object:
[code]

... so that it would contain the `resourceQuery` property:
[code]

[2018-08-03 08:40] sarahdayan commented on #30
Can we reopen this issue? The related PR #33 was closed but apparently the release depends on #32.

[2018-08-14 09:10] abstractFlo opened #40 "Question: Release of new version"
Hey,

is there an release eta for your new version? I need something similar to your master branch :)

Kind regards

[2018-08-18 21:07] FistMeNaruto opened #41 "Not working with Nuxt.js"
Hi!

I have tried doing everything described in documentation, but I can't get vue-svg-loader to work with Nuxt.js

I get this error:
[code]

For some reason svg gets converted to base64 even though I removed it from url-loader test regex:

[code]

Here is a repo for reproduction:

[FistMeNaruto/vue-svg-loader-test](https://github.com/FistMeNaruto/vue-svg-loader-test)

[2018-08-19 09:46] FistMeNaruto commented on #41
Solved in nuxt/nuxt.js#3763

[2018-08-21 04:51] visualfanatic commented on #40
@abstractFlo I released `0.7.0` with the changes on the `master` branch.

[2018-08-21 04:51] #40 closed

[2018-08-21 04:52] visualfanatic commented on #39
@Vlaoff could you tell me if you still have described issue?

[2018-08-22 09:29] Vlaoff commented on #39
@visualfanatic no, you helped me solve it, thank you 😄

[2018-08-22 09:47] visualfanatic commented on #39
@Vlaoff No problem at all! 👍

[2018-08-22 09:47] #39 closed

[2018-08-24 19:53] hmaesta commented on #23
Hello.

Today is my first day with Vue, please be patient.

My `.svg` files are having the `viewBox` removed. How can I add the `removeViewBox: false` to **vue-cli** config?

I am using:
[code]

Thank you for the plugin (and support).

[2018-08-24 20:16] visualfanatic commented on #23
You can use `webpack-chain` method: the `options` method.

[code]

[2018-09-05 02:37] mini-web opened #44 "vue-svg-loader > 0.5.0 // not work"
/ / package.json
{
......
......
"dependencies": {
    "axios": "^0.18.0",
    "es6-shim": "^0.35.3",
    "moment": "^2.22.2",
    "lodash": "^4.17.10",
    "proxy-polyfill": "^0.3.0",
    "vue": "^2.5.17",
    "vue-router": "^3.0.1",
    "vuex": "^3.0.1"
  },
  "devDependencies": {
    "@vue/cli-plugin-babel": "^3.0.0-beta.15",
    "@vue/cli-plugin-eslint": "^3.0.0-beta.15",
    "@vue/cli-service

[2018-09-05 07:18] Huooo opened #45 "Change attribute 'fill' from .svg"
Hello, your plugin is perfect. Then, I want to dynamically change value of fill from .svg file, but it doesn't work. I see your example can support change width and height. So, is my code has problem or the plugin cannot support change fill?

First, my config file can work and my .svg has show in browser.
Then, my code is:

[code]

[code]

[code]

Thanks very much.

[2018-09-05 07:46] Huooo commented on #45
[close.svg](https://github.com/Huooo/files/blob/master/svg/close.svg)

I'm so sorry, maybe need you download the file by yourself.
And if need to work on `path` , what can I do to achieve it. Thank you for your time.

[2018-09-05 07:56] visualfanatic commented on #45
Try this:
[code]

[2018-09-05 08:12] Huooo commented on #45
I have been try your way, but still cannot work.
Sir, I am a new svg learner, so, some knowledge is't known. According to your first response, I try to remove some from my .svg file, and then I can change  value of fill. Maybe you have some ideas.

code of old .svg file:
[code]

code of new .svg file:
[code]

[2018-09-17 20:32] visualfanatic commented on #31
@andreasvirkus disabling SVGO is now included in `0.10.0`, just pass `svgo: false` to loader options.

[2018-09-17 20:32] #31 closed

[2018-09-17 20:33] visualfanatic commented on #44
@mini-web could you provide the error you are having? Could you also attach the SVG you are using?

[2018-09-21 18:49] hdodov opened #46 "Selectively import inline SVG?"
Using this plugin, every SVG I import is interpreted for inline use. However, can I somehow make Vue CLI import an SVG the regular way? I want to use the path to an SVG in an `<img>` tag's `src` that is dynamic, the same way described [here](https://github.com/vuejs-templates/webpack/issues/450). How can this happen? If it can't, could you please implement this functionality?

[2018-09-21 18:53] visualfanatic commented on #46
You can already do that, here is FAQ section with the solution:
https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs

[2018-09-25 18:41] Triloworld commented on #41
Don't close issue as It is actual for new Nuxt 2.0 and Webpack 4

[code]

Why?
rule.use is more important and by default as Nuxt 2.0 and Webpack 4
I concat new version to old so no settings are remove, just added to "oneOf" to support multiple loaders. Using "resourceQuery: /\?inline/i," i can distinguish between component and just file.

[2018-09-26 01:44] edarioq opened #49 "Not Working with Vue CLI 3"
The error I get is

[code]

This is all I'm doing in my component:

[code]

[code]

In `vue.config.js`, I have:?
[code]

[2018-09-26 09:41] hdodov commented on #46
Yeeeeeesssssssss! Thank you so very much!

[2018-09-26 12:31] #46 closed

[2018-09-26 13:19] edarioq commented on #49
Yea I've also tried all possible combinations.

[2018-09-26 13:28] visualfanatic commented on #49
Have you tried this one?
[code]

[2018-09-26 13:30] edarioq commented on #49
Oh wow, sorry.. yes that works. Thanks a lot and sry for the silly mistake. I wonder why the normal `assets/home/icon-notification.svg` wasn't working.

[2018-09-26 20:43] leopoldkristjansson opened #50 "svgRule is undefined with Nuxt 2.0"
I'm trying to use vue-svg-loader with Nuxt 2.0. I am using vue-svg-loader 0.10.0

In the nuxt.config.js I've added the recommended code:

[code]

But the `svgRule` is undefined...

`TypeError: Cannot set property 'test' of undefined`

I was using the same setup with Nuxt 1.0 and vue-svg-loader 0.8.0. That worked fine.

[2018-09-26 22:42] #49 closed

[2018-09-29 20:49] visualfanatic commented on #50
@leopoldkristjansson I updated all examples and tested them against Next.js 1.x and 2.x, everything should work now as expected on both major versions.

[2018-09-29 20:53] visualfanatic commented on #41
Unfortunately there is no way around modifying the loader config, here is an example that works for both Next 1.x and 2.x:
https://vue-svg-loader.netlify.com/faq.html#how-to-use-both-inline-and-external-svgs

[2018-09-29 20:53] visualfanatic commented on #44
@mini-web

[2018-10-03 04:19] rohankvats commented on #50
@manniL Thank you ! <3

[2018-10-07 10:16] #50 closed

[2018-10-08 17:11] rightaway opened #51 "Dynamically refer to an icon"
When I was using svgs as images and using `require`, I was able to dynamically require images. So I could have a folder of 1000 images and I wouldn't have to require them each by hand. In the component template I had `<img :src=iconPath(dynamicValue)>`.

`iconPath` is a method on a vue component like this

[code]

Every svg file in `./icons` would get included in my webpack bundle automatically, a

[2018-10-14 21:35] manniL commented on #50
https://github.com/Developmint/nuxt-svg-loader might help as well :relaxed:

[2018-10-15 19:42] henriqemalheiros commented on #51
You can use [dynamic components](https://vuejs.org/v2/guide/components.html#Dynamic-Components).

Simply change `<img :src=iconPath(dynamicValue)>` to `<component :is='iconPath(dynamicValue)'/>`.

[2018-10-18 13:45] wildstyles commented on #51
Hi, thanks for help guys! I managed to fix it by added default to the end of method:
    iconPath(name) {
      return require(`@/assets/icons/icon_${name}.svg`).default;
    }

And my html: <div :is="iconPath(name)"></div>

[2018-10-18 13:58] henriqemalheiros commented on #51
I've tested this with an older version! I'm sorry.

Since 0.11.0 (https://github.com/visualfanatic/vue-svg-loader/commit/1fa688da88e0806f335254af1640c6ebdd2a845a, https://github.com/visualfanatic/svg-to-vue/commit/151c5d7380f2c1246ec2efec007d626f60597b6d), this loader exports the generated Vue components as ES modules, so you need to change your `require` too, adding `.default` to the end:

[code]

[2018-10-19 10:31] rightaway commented on #51
Thanks for this explanation!

Is there a way to customize where the .js files that get produced are placed? All the .js files that get made for each svg are placed in the root of the webpack output directory, which makes that root output directory cluttered. Can it be configured to put them in another directory, like to take an options item like other loaders do, something like

[code]

So then al

[2018-10-19 10:48] visualfanatic commented on #51
@rightaway I am currently working on a Babel plugin that would allow you to transform one import statement, for example:
[code]

... into multiple statements:
[code]

It would scan the `@/assets/icons` directory for the icons, transform their names (`some_icon` ➡️ `SomeIcon`), transform that single import into multiple ones and provide them in a single object.

That plugin would also allow simplif

[2018-10-19 11:17] rightaway commented on #51
@visualfanatic This looks great but we're currently not using babel since we're only supporting latest browsers. The solution @henriqemalheiros described above works almost perfectly for our use case, downloading the files only as necessary. It makes a request for each separate file, which isn't so bad since we're using HTTP2 and once the file is downloaded once it can be cached.

The only missing

[2018-10-19 12:28] henriqemalheiros commented on #51
@rightaway you can already do that, actually:

[code]

The `[request]` placeholder takes the file name, alongside its extension, and converts to a kebab-case string.

The extension on the chunk name could be annoying. Is possible to remove it by adding `.svg` to `resolve.extensions` on your [Webpack configuration](https://webpack.js.org/configuration/resolve/#resolve-extensions) and then import ju

[2018-10-20 07:41] rightaway commented on #51
@henriqemalheiros I've tried the example as you've written it and for some reason it's still putting those files in the root output directory rather than in an `icons` directory. In the webpack build output it says `icons/icon-NAME-svg` under the `Chunk Names` column, which is expected, but under the `Asset` column it has just the name of the file with no `icons` directory in front of it. Files th

[2018-10-20 08:04] rightaway commented on #51
To clarify, when it loads the file the URL it loads is `icons/icon-NAME-svg.js`, but the files are still in the root output directory which isn't very clean since I have many icon files and this makes it difficult to find the few root level files (.js, .html, etc) that actually belong in the root directory.

A bigger issue is because the name `icons/icon-NAME-svg.js` doesn't contain `[contenthash]

[2018-10-22 20:16] henriqemalheiros commented on #51
@rightaway please, check your Webpack configuration. I made a simple [repo](https://github.com/henriqemalheiros/vue-svg-loader-dynamic-import) that does what you're asking: a separated chunk for each dynamically imported SVG with a hashed filename on a separated distribution folder. Just clone the repo, run `npm run build` and then check the `dist` folder.

As regards to adding `options.name` to t

[2018-10-24 08:35] jag1989 commented on #25
Just wanting to add to on, this is still happening for me also.

`background-image: url("../../assets/images/svg/name.svg");`
resoloves to:
`background-image: url(/Users/username/www/path/src/assets/images/svg/name.svg)`

with the following rule:
`{
				test: /\.svg$/,
				loader: 'vue-svg-loader',
				options: {
					svgo: {
						plugins: [{
							removeViewBox: false,
							removeDoctype: tru

[2018-11-01 12:09] srbiotik opened #54 "Cannot trigger @click event on svg component tag"
I am using the latest version of the loader and I am loving the ease and an uncluttered zen feeling it brings comparing to just using SVG inline, not to mention the hot reload benefits.
However the v-on:click directive does not work, and bear in mind I am unsure if this is a bug, was never a feature, or my configuration is somehow off.
I configured both Webpack and Vue using offered documentation,

[2018-11-07 16:52] joelworsham opened #55 "Ability to add <title> and <description> within Vue templates"
It would be fantastic if we could add the `<title>` and/or `<description>` tags into the `<svg>` itself, based on the context it's used in. Sometimes the title will be different for the icon, based on the context.

I would say either just allowing us to slot in content to the SVG or accept those props would be amazing.
[code]
OR
[code]

What do you think?

[2018-11-07 20:54] joelworsham commented on #38
Just wanted to say that I also had this error, and your solution works like a charm with no modification 👍

Thanks!

[2018-11-14 13:30] mmieluch commented on #54
Have you tried using `v-on:click.native`?

[2018-11-15 12:12] waghcwb opened #56 "How to use prefix option with cleanupIDs"
I cannot handle how to configure this loader with custom options for `svggo`.

The problem is that my SVGs are conflicting because all of they have the same ids (a, b, c, etc). I found a solution on `svggo` options:
`{ cleanupIDs: { prefix: 'somerandomid' } }`

But, I cannot figure out how to customize the webpack config for this option.

I've tried this
[code]

and this
[code]

But without succes

[2018-11-15 14:50] ppsirius opened #57 "Scoped scss doesn't work"
Example code:
[code]

Output:
[code]

Scoped css is generating but data attribute doesn't add to path inside svg. When I paste svg code inline without loader, scoped attribute is added.

[2018-11-15 14:58] ppsirius commented on #57
I saw that I use an old version, after update, everything works fine. An issue to deleting ;)

[2018-11-16 08:46] srbiotik commented on #54
No, I will try and report the outcome.

[2018-11-16 20:14] FistMeNaruto commented on #54
Facing the same issue, `@click.native` does not work.

[2018-11-18 18:05] RainArro opened #58 "Removes viewbox"
Before vue-svg-loader my svg looks like this.
[code]
When i include it as a vue component it removes viebox. I can not scale my svg without viewbox.

[code]

[2018-11-19 09:32] sunnyskc commented on #54
same here `@click.native` was working until 0.10.0

[2018-11-19 10:16] mmieluch commented on #54
Components generated by this loader are functional. I believe the only way to listen to events on functional components is to define them explicitly in the component itself. Since we don't have control over the automatically transformed SVG component, the only way to go is to wrap your components in outer tags and listen to events on the wrappers instead of components themselves.

[2018-11-24 08:32] sashakaralchuk opened #60 "identical id in different svg"
as a result, svg in such format `https://pastebin.com/m5hMA2A0` convert to `https://pastebin.com/Ah1CVRcw`

loader change id from `path-1jaksljkaslasbf` to `a`

import more than 1 svg with this format to page leads to visual display of two identical svg

P.S. i'm not good with english and not familiar with github, but i found this bug

[2018-11-24 11:02] visualfanatic commented on #60
This is not a bug, you can disable this behavior:
[code]

[2018-11-24 11:03] visualfanatic commented on #58
@RainArro have you checked @FistMeNaruto solution? Just disable the `removeViewBox` SVGO plugin and you should be fine.

[2018-11-24 11:04] #57 closed

[2018-11-24 11:05] visualfanatic commented on #56
Have you checked this section in FAQ?
https://vue-svg-loader.js.org/faq.html#how-to-prefix-id-attributes

[2018-11-24 17:38] RainArro commented on #58
Thank you :)

[2018-11-24 17:38] #58 closed

[2018-11-26 14:02] waghcwb commented on #56
@visualfanatic,

Thank you. That worked

[code]

[2018-11-26 14:02] #56 closed

[2018-11-28 10:58] sashakaralchuk commented on #60
thanks, where a can find options documentation?

[2018-11-28 11:12] visualfanatic commented on #60
Right now the only property that you can customize is `svgo` which is an object that is passed to SVGO library. Here is a list of available plugins that you can customize:
https://github.com/svg/svgo

[2018-12-05 18:56] visualfanatic commented on #60
@sashakaralchuk does the example I posted above works for you?

[2018-12-12 17:09] maulpets commented on #60
@visualfanatic if im using vue cli 3 would it be like this?
[code]

[2018-12-12 18:04] maulpets commented on #60
@visualfanatic  this works, you may want to include it in the docs
`// vue.config.js
module.exports = {
  chainWebpack: config => {
    const svgRule = config.module.rule('svg')
    // clear all existing loaders.
    // if you don't do this, the loader below will be appended to
    // existing loaders of the rule.
    svgRule.uses.clear()

    // add replacement loader(s)
    svgRule
      .use('v

[2018-12-31 02:16] luckydonald commented on #45
This doesn't really work for multicolored svgs.

I was thinking maybe a 'search-and-replace' like feature on `fill` and `stroke` could be possible?

For example:

[code]

[code]

Resulting in something like

[code]

[2019-01-03 00:33] tamasf97 commented on #54
@visualfanatic The `vue-svg-loader@next` branch seems to have solved the issue, at least it works fine for every event I throw at it.

[2019-01-16 09:45] dcrystalj commented on #54
this solved issue for me as well.

[2019-01-16 12:34] dcrystalj opened #62 "Add option for string loading"
As we have `?external` it would be nice to have `?raw` and get svg loaded as string?
Or is this possible already?

[2019-01-21 10:13] Kivol commented on #54
@visualfanatic Is there any schedule for it to be merged to mainstream?

[2019-01-22 09:19] visualfanatic commented on #62
Yes, it's currently possible by using `raw-loader`, you need to modify your webpack config like so:
[code]

[2019-01-23 12:05] #62 closed

[2019-01-24 10:02] dcrystalj opened #63 "Edge support"
I have the following config:
[code]

When i import component like this:
[code]

this breaks in edge browser.

Looks like it is missing extra transpilation.

In edge i get following error:
[code]
and line error in code is `'inline strict';`

[2019-01-31 17:11] jhoogeboom opened #64 "background-url"
I would like to use both inlined svg and to use as a background-image. I've followed your FAQ in modifying the Webpack chain.

[code]

But having trouble finding the assets `background-image: url(@/assets/svg/back.svg);`

`* ./@/assets/svg/back.svg in ./node_modules/css-loader??ref--6-oneOf-1-1!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/src??ref--6-on
eO

[2019-02-03 13:51] MattCCC opened #65 "Can't update the plugin to 0.11.0 using NPM"
Hello, as in title, every update using "npm update vue-svg-loader" ends up with version 0.5.0. Please help me to resolve the issue. Thank you.

[2019-02-03 13:55] MattCCC commented on #65
Reinstalling the plugin helped (y)

[2019-02-03 13:55] #65 closed

[2019-02-05 09:44] gitivon opened #66 "support vue-2.6"
Error:

Vue packages version mismatch:

- vue@2.6.2
- vue-template-compiler@2.5.17

[2019-02-05 10:43] visualfanatic commented on #66
Hello @gitivon, please update the `vue-svg-loader` package to `0.12.0` and you should be good to go.

[2019-02-05 10:44] #55 closed, assigned to nobody

[2019-02-05 10:44] visualfanatic commented on #64
Could you share the source of the `SongList.vue` component?

[2019-02-05 10:46] visualfanatic commented on #54
Yes, I just released it as `v0.12.0` :)

[2019-02-05 10:46] #54 closed

[2019-02-05 10:48] #44 closed

[2019-02-05 11:05] gitivon commented on #66
thx

[2019-02-05 11:05] #66 closed

[2019-02-05 14:21] joelworsham commented on #55
Apologies for not getting back to you on this, but thanks so much for implementing it!

[2019-02-06 09:55] Shepard commented on #63
I managed to get this to work in Webpack at least by letting the babel-loader run on the SVG files after the vue-svg-loader, like this (the execution order in "use" is reversed):

[code]

Not sure what the equivalent for your bundler would be but basically as long as there's another step transpiling the resulting JavaScript to an older JavaScript version that Edge can deal with it should work.

[2019-02-06 14:43] michalsnik opened #68 "Cypress issue in 0.12.0"
Hey Damian!

I just installed 0.12.0 and everything works fine, except Cypress in headless mode. The error I'm getting is:

[code]

Downgrading to 0.11.0 seems to fix the problem. So it looks like the code generated by the loader or one of its dependencies produces Object rest spread operator that might not work in headless mode without extra transpilation.

[2019-02-07 13:30] trygveaa commented on #66
Can you push the commit and release to github too?

[2019-02-11 09:27] cannap commented on #63
how can i do tthat in the new vue cli?
[code]
thanks

[2019-02-11 14:31] nicooprat commented on #58
Usage with Vue CLI:

[code]

[Complete list of SVGO options](https://github.com/svg/svgo/blob/master/.svgo.yml).

[2019-02-12 10:48] webcoderkz opened #69 "SVG is not displaying after went through svg-loader"
SVG file, i'm experiencing issue with:

[code]

It works if i just open it in a browser, but not through svg-loader. Here's my settings (vue.config.js):

[code]

What's wrong?

[2019-02-12 13:59] appinteractive commented on #68
I have the exact same issue!

[2019-02-13 08:58] cannap commented on #63
Here the soltuion for
thanks to https://github.com/chymz
the new vue cli
[code]

[2019-02-13 13:31] radKoz opened #70 "SVG not displaying on Safari when app is published as web component"
I'm using https://github.com/vuejs/vue-web-component-wrapper to build web component. When I serve app or build and open demo.html from dist svgs works fine on safari but when I inject this web component in another app (I tried with several angular apps) I see squares instead of svg files. When I remove vue-svg-loader and use external svg inside` <img>` tag everything is working. I don't know if th

[2019-02-16 02:41] sotaan commented on #68
Me too using vue cli 3

[2019-02-24 04:39] GodofHope opened #72 "Met 'Cannot find module' problem using ts"
# latest

Oh i found [faq use in typescript](https://vue-svg-loader.js.org/faq.html#how-to-use-this-loader-with-typescript)
Could Anyone tell me where I need to put this code?

Is adding a index.d.ts file in the module path and pasting the code in it right?

[code]

Then why am I still ctaching problems?

---

I install the module,and I found
![image](https://user-images.githubusercontent.com/3331

[2019-02-24 04:41] GodofHope commented on #72
All the modules are the latest, I got vue @2.6.7 and vue-svg-loader@0.12.0. My cli version is 3.4.1.

I don't know what goes wrong

[2019-02-24 05:00] GodofHope commented on #72
Could the author make a official type file and publish as @types/vue-svg-loader please? I really knew nothing about generate an d.ts file

[2019-02-26 09:10] Erik5169 commented on #64
I have the same problem,  I use vue cli 3.0

 const svgRule = config.module.rule('svg')
    svgRule.uses.clear()
    svgRule
      .use('svg-sprite-loader')
      .loader('svg-sprite-loader')
      .options({
        symbolId: 'icon-[name]'
      })
if I replace the svgRule with svg-sprite-loader ,  background-image use svg  not work

[2019-02-26 22:35] DrewLinzmaierGarratt commented on #63
In our build, we are using NUXT and are something much more similar to the original posting.
Finding it tricky to implement the fix while using the `oneOf` syntax.

Any suggestions would be greatly appreciated.

[code]

[2019-02-26 23:06] jpetko opened #73 "Setup Jest when Internal and External SVGs are configured"
Hi, I was curious as how to configure the Jest transform when inline and external svgs are in use with the '?inline' method shown in the FAQ?

I get a 'Could not locate module' error when the unit test hits the import statement now.

[2019-02-27 09:48] sendya opened #74 "@vue/cli3 use loader on chrome 55,56,57 Unexpected token"
use `vue-svg-loader` error on `inline` mode
But the latest version of the browser not go wrong (chrome 72)

### vue.config.js (chainWebpack)

[code]

And use svg：
[code]

[code]

[2019-02-27 17:30] visualfanatic commented on #74
@sendya could you share your SVG file?

[2019-02-28 01:18] sendya commented on #74
Downloaded from iconfont.cn

https://static-2.loacg.com/open/static/github/a/bx-analyse.svg
or
https://static-2.loacg.com/open/static/github/a/logo.svg

source:
[code]

[2019-02-28 15:26] marvinhuebner opened #75 "Usage with url-loader in Nuxt.js project"
First of all, thanks for your great work for this loader.

I integrated the vue-svg-loader into a Nuxt.js project. This works in principle, but I also need the url-loader to integrate an SVG into a `<img>`.

I've seen #39, but I'm wondering how I can best customize the nuxt webpack configuration to make it work.

Maybe someone has an idea, thank you very much!

[2019-02-28 16:18] marvinhuebner commented on #75
I've made some progress, this is how my current config looks like. This has brought back my svg in `<img>` but my svg components are throwing an error.

[code]

[code]

[code]

[2019-02-28 16:37] marvinhuebner commented on #75
I have found a solution, for whatever reason the order in `oneOf` is deciding.

I'll post my solution here if someone else needs it. If someone has a better solution, I would be happy to receive that feedback.

[code]

[2019-02-28 16:37] #75 closed

[2019-03-04 17:03] leejacobson commented on #70
I believe this issue is related to the use of const which isn't supported in strict mode.

[2019-03-09 10:48] omniait commented on #72
I've solved this way, I'm using vue-cli, note that inline svgs (`import "file.svg?inline"`) still throw errors:
./src/shims-svg.d.ts
[code]
./vue.config.js
[code]
./src/components/Example.vue
[code]

[2019-03-12 15:49] strukove opened #76 "loader version 0.12.0 doesn't work in Edge and ie11"
Hi guys,
I had problems with latest version crashing in ie11 and Edge.
Errors were:
ie11 - "Expected ':' error"
Edge - "Expected identifier, string or number"
I switched to version 0.11.0 and it works now.

P.S.
I use vue cli 3 setup. I wrote "import SearchIcon from '...path'" and it broke ie. When I removed this code issue disappeared.

[2019-03-12 17:26] honzabilek4 commented on #76
Confirming issue also on Safari 9.3.

[2019-03-14 08:39] earlymeme opened #77 "Vue-cli 3 use with vue-ant-design Icon component"
You can use chainWebpack
[code]
preserve the file-loader ,at the sametime you can add svg component feature for <Icon component="svgComponent"/>

[2019-03-14 08:42] earlymeme commented on #77
fix img src=[Object Module] bug in vue component template

[2019-03-14 09:12] earlymeme commented on #25
https://github.com/visualfanatic/vue-svg-loader/issues/77

[2019-03-14 22:26] mykone opened #78 "Module parse failed: Unexpected token"
Hello, thanks for creating this component, but I am unable to get it working in my setup. Here's my exception:

[code]

Here's my usage:
[code]

Here's my Webpack Config
[code]

I'm not sure what I am doing wrong, it seems as if the loader is loading, but maybe another loader ins interfering with the string output of the loader. I am using Vue 2.6.9

Any help would be great. Thanks a lot.

[2019-03-14 22:48] mykone commented on #78
Seems to be a loader issue for sure.. I used *svg-to-vue-component/loader* and it works fine.

[2019-03-15 08:37] honzabilek4 commented on #76
Basically, the problem is that the generated component code contains `const` keywords even after the build process. I believe that the problem is actually in the underlying repository which is not being transpiled. For example here https://github.com/visualfanatic/svg-to-vue/blob/master/index.js#L6 the const keyword remains in the output code.

[2019-03-18 08:07] terrymun commented on #63
Just want to say that I've ran into exactly the same issue, and @cannap's solution worked perfectly fine. It now works for Edge **and** IE11 ❤️

[2019-03-18 08:40] terrymun commented on #76
You just need to chain `babel-loader` to `vue-svg-loader`: this fix proposed in a separate issue worked perfectly fine for me: https://github.com/visualfanatic/vue-svg-loader/issues/63#issuecomment-463114598

[2019-03-19 06:55] morphatic commented on #26
Here is the configuration in Vue CLI format for anyone who gets here and needs that:

[code]

Of if you're doing **BOTH** the above **AND** you want to also be able to serve external SVGs:

[code]

FANTASTIC package!! Thank you @visualfanatic

[2019-03-29 19:36] b12k commented on #78
Same issue in Edge and IE11.
`SCRIPT1028: SCRIPT1028: Expected identifier, string or number`
Looks like it is related to `spread` operator.
Which is not getting transpiled.

[2019-03-30 20:34] acazacu commented on #73
Have you tried reversing the rule definition in the inline / external example webpack config?

`chainWebpack: config => {
    const svgRule = config.module.rule("svg");

    svgRule.uses.clear();

    svgRule
      .oneOf("external")
      .resourceQuery(/external/)
      .use("file-loader")
      .loader("file-loader")
      .options({
        name: "assets/[name].[hash:8].[ext]"
      })
      .

[2019-03-30 22:41] acazacu commented on #73
@jpetko Here's a better solution that seems to work without the above stated caveat.

You update your vue.config.js file as recommended by the vue-svg-loader docs to support both inline and external uses of svg files. It should look something like this:

`
module.exports = {
  lintOnSave: false,
  chainWebpack: config => {
    const svgRule = config.module.rule("svg");

    svgRule.uses.clear();

[2019-04-08 07:28] andrey-hohlov commented on #78
solution https://github.com/visualfanatic/vue-svg-loader/issues/63#issuecomment-463114598

[2019-04-10 03:14] zslucky opened #80 "svg-to-vue dependency using spread syntax which doesn't compiled"
I got `Uncaught SyntaxError: Unexpected token ...` in some browsers, like Chrome58, is it a way to use a compatible version?

[2019-04-10 06:05] DigiSplit commented on #63
I found a solution for NUXT.  This code supports both background and inline svg.

In  **nuxt.config.js** file, add the following code.
[code]

You will also need to install babel plugin for object rest spread support.

Add these as **devDependencies** in **package.json**
[code]
[code]

Modify **.babcelrc** file to look like this.
[code]

[2019-04-18 16:11] JessicaSachs commented on #63
Any desire to make this work out of the box? Or atleast to put in giant, bold letters a link to how to make it IE11 compatible? Just spent my morning in debugging IE 😭

[2019-04-24 21:46] MattCCC commented on #80
Hello, I get similar error. Looks like UglifyJs cannot parse vue-svg-loader syntax:

[code]

[2019-04-25 19:44] MattCCC commented on #80
Hello, I have very similar problem when trying to build with Webpack 4:
[code]

Any idea how can I fix it?

[2019-05-01 22:08] sarahdayan commented on #38
@koresar If that didn't work for you, check whether `svg` is present in another regular expression in other `transform` properties.

If you're using Vue CLI, it probably generated a line for all assets (including SVGs) that gets transformed with `jest-transform-stub`. If this line contains `svg`, just remove it, it should work.

[code]

[2019-05-06 08:42] kamwing commented on #80
same problem

[2019-05-07 08:48] dcrystalj commented on #63
I can confirm @cannap solution works!

Here is my full blown config in case anyone will need it.

[code]

I believe this `babel-loader` thing should be included in examples by default to avoid frustrations for edge.

[2019-05-07 08:48] #63 closed

[2019-05-07 16:19] WraithKenny commented on #72
This basically means I can't use this package.

[2019-05-10 05:29] sosnail commented on #76
@honzabilek4

I think you need this

vue-cli 3
https://cli.vuejs.org/config/#transpiledependencies

[2019-05-11 03:10] GodofHope commented on #80
Same problem

[2019-05-12 23:04] FilipaSimao opened #81 "Non-whitespace before first tag"
I got this error "Non-whitespace before first tag." on Vue-CLI 3.

### Component
` <img :src="require(`@/assets/${logo}`)" :alt="name">`

### Vue.config.js
[code]

[2019-05-14 11:26] vadimjoy commented on #25
My solution is to organize svg namespace (inline.<name>.svg) and share loader for them:
[code]

[2019-05-23 09:39] pepelxD opened #83 "[Vue warn]: Invalid Component definition"
Good afternoon, I try to use the plugin, but I get an error Invalid Component definition. What could be the problem?
I do everything as described. I use vue cli 3. I changed the loader for svg in the file vue.config.js but this does not help ...
This is what the vue inspect command gives me https://yadi.sk/d/-frdPIPX5dSamA I don’t see there anything else that can interfere with the processing

[2019-05-24 18:00] rightaway opened #84 "options.name in webpack config to configure where output files are placed"
As discussed in https://github.com/visualfanatic/vue-svg-loader/issues/51#issuecomment-431559131, I think having `options.name` available in the webpack config would be very useful to configure where exactly the files get placed.

All major plugins for webpack allow you to do customize where their files go, but vue-svg-loader always places what it creates in the root output directory. It should re

[2019-05-24 18:56] rightaway commented on #84
Or even better allow us to combine `vue-svg-loader` with `file-loader` (and `svgo-loader`), so the configuration would look like this.

[code]

In fact I'm already using `svgo-loader` and `vue-svg-loader` separately like this and it actually works great. I think it's cleaner to have each loader focus on what it does, so I don't think I should be passing `svgo` options to `vue-svg-loader` when I ca

[2019-05-27 05:44] grount commented on #68
Any update on this?

[2019-05-27 05:44] grount commented on #80
+1

[2019-06-04 19:44] cvn commented on #76
Thanks @terrymun, the solution you linked to worked for me.

The error I was seeing was `SCRIPT1003: Expected ':'`

Does anyone know if this was an intentional change in 0.12.0? If so, I'd be happy to make a PR to add the fix to the readme.

[2019-06-07 09:50] jqweryjson commented on #63
@cannap  YOU.SAVE.MY.LIVE Please describe this as note at https://vue-svg-loader.js.org/

[2019-06-07 10:37] cannap commented on #63
dont thank me thank https://github.com/chymz :D

[2019-06-11 22:17] mohamedhamad opened #86 "Dynamically add class to path in SVG"
I have a map svg with paths to each country, and I'd like to be able to add a class to a path based on actions in the component. For instance, if there is a array object of selected countries, I can then add a "selected" class to the map paths with the ID's of that country and control the selected fill via css.
is this possible?

[2019-06-13 03:22] youcanping commented on #80
+1 😿，害我找了好久

[2019-06-13 07:39] zslucky commented on #80
I just fork the loader, update code manually, remove the unwanted syntax, or use another loader which I found it pass the code to vue-loader for further compile.

[2019-06-14 02:08] GodofHope commented on #80
It can be fixed by configuring vue.config.js file correctly, I will paste my solution code later.

[2019-06-14 02:13] youcanping commented on #80
In vue.config.js fix like this.

[code]

[2019-06-14 02:16] GodofHope commented on #80
Thx!
btw what does `svgo` mean

[2019-06-14 07:59] rightaway opened #87 "File contenthash changing when it shouldn't"
The same file contents end up producing a different `[contenthash]` (as defined in webpack's `output.filename` and `output.chunkFilename` properties).

The only thing that changes in the file are the 2 numbers in the first part `(window.webpackJsonp=window.webpackJsonp||[]).push([[15],{339:function(c,t,a){`. But all the other file content stays the same, so the `[contenthash]` shouldn't change.

T

[2019-06-19 22:51] desaintflorent commented on #51
Hi, I'm using this method with Nuxt, thanks @henriqemalheiros for this simple repo/demo.
But I'm having some problem with old browsers as explained in this issue : https://github.com/visualfanatic/vue-svg-loader/issues/63

I tried the Nuxt solution provided in the 63 issue by @DigiSplit but it doesn't work with dynamic loading.
I'm currently doing  :

<pre><code>
config.module.rules
        .filte

[2019-06-20 20:28] ladislavsulc commented on #63
Hi @DrewLinzmaierGarratt, could you help me, please, with this? Where exactly in the Nuxt config shall I put this? Does it still work like this or any updates on it? I use the `nuxt-svg` module (which uses also this loader) and have this error in both Edge and IE11.

Any help much appreciated.

Thank you.

[2019-06-21 09:18] strukove commented on #76
Good one, thanks) But know this is one question to developers:
Why there is no 0.12.0 release documentation but it's the latest version of npm package? Is it unstable/broken/rare?

[2019-06-21 12:46] honzabilek4 commented on #76
I believe it's still not a good idea to distribute non-transpiled code as npm dependency these days.

[2019-06-26 15:28] supermonkeyz commented on #74
got same error Unexpected token ...

break with this compiled code

[code]
something wrong with babel config?

[2019-07-05 16:01] honzabilek4 commented on #68
I believe it's the same issue as here https://github.com/visualfanatic/vue-svg-loader/issues/76, cause the code in one of it's dependencies doesn't get transpiled and thus doesn't work in some browsers.

[2019-07-07 12:56] evandrosevergnini commented on #31
Thanks!
Just for example, I used this way in 'vue.config.js' and it worked:

[code]

[2019-07-10 20:51] psnoonan commented on #63
@DrewLinzmaierGarratt
I used @DigiSplit's solution, but didn't want to mess with Nuxt's global babel config.
So, I added the object spread plugin to the babel-loader options for inline svgs only.

[code]

[2019-07-22 09:31] Huooo commented on #45
Hi, it is so interesting between this plugin and me. After almost a year, I still need this plugin to code, and meet the same problem. But I had forgot how to resolve the last question, it's so sorry. But this time, I deal with similar problem as follows:

examples:

svg file:
[code]

You can define your class in your svg files if this svg is complicated.
And then:

code:
[code]

[code]

The downs

[2019-07-22 09:40] #45 closed

[2019-07-22 16:20] luckydonald commented on #45
I don't think the problem is fixed, as this is only a workaround.

[2019-08-10 23:18] Marrie89 opened #90 "duplicate svg files"
Hello

I am having a problem using. When I connect svg as components and there are more than 1 of them - instead of loading all svg into my html - the output of my svg code is simply duplicated several times. Please explain what the problem is - the Internet has not found a solution.
thanks for the help.
 http://joxi.ru/V2VldakCdRKdKr
http://joxi.ru/krD3j8esKqJKdA
http://joxi.ru/D2Pq34RSqykqBA

[2019-08-11 00:42] #72 closed

[2019-08-13 14:48] robjbrain opened #91 ""Invalid Component definition" when using Laravel Mix and <style> tag"
I keep running into the error "Invalid Component definition".

All [the solutions I can find](https://github.com/visualfanatic/vue-svg-loader/issues/1) refer to removing "svg" from a test.

I'm using Laravel Mix https://github.com/JeffreyWay/laravel-mix/issues/350 but it suggested that svg's where removed from the test 2 years ago and shouldn't be interfering.

My SVG's also include `<style>` tags

[2019-08-14 18:47] mohamedhamad commented on #76
anyone have a working webpack setup for this. I'm trying to get babel-loader with svg-vue-loader + options to run
I keep getting
[code]

here is my config
[code]

[2019-08-14 19:53] webcoderkz opened #92 "Typescript Cannot find module '@/assets/svg/register.svg?inline'"
Created svg.d.ts file with the following contents:

[code]

Then using in a component this way:

[code]

Causes an error: `Typescript Cannot find module '@/assets/svg/register.svg?inline'`

But if i remove `?inline` it stops complaining. How to correctly declare svg module in .d.ts file?

[2019-08-14 20:09] kylops commented on #63
Use babel loader together with vue-svg-loader will fix the IE issue, webpack config will look like this:
`use: [
          {
            loader: 'babel-loader'
          },
          {
            loader: 'vue-svg-loader',
            options: {
              svgo: {
                plugins: [{ removeDimensions: false }, { removeViewBox: false }, {cleanupIDs: false}]
              }
            }

[2019-08-14 20:14] kylops commented on #21
https://github.com/visualfanatic/vue-svg-loader/issues/63#issuecomment-521399194

[2019-08-14 20:16] kylops commented on #21
refer to here: https://github.com/visualfanatic/vue-svg-loader/issues/63#issuecomment-521399194

[2019-08-19 23:36] hecktarzuli commented on #80
@GodofHope svgo is an svg optimizer.  https://github.com/svg/svgo

[2019-08-21 08:01] ptandler commented on #80
I thin youcanping's config should really be very prominent in the docs, so I added it to the README, see pull request https://github.com/visualfanatic/vue-svg-loader/pull/93

[2019-08-23 14:50] danielroe opened #94 "SVG classes are not fully merged in SSR"
A svg with an inline class that is then assigned a class within the parent component, it is not merged on SSR (Nuxt) - or, rather, it has two class attributes, one of which is merged. The result is an unattractive flash on load when the classes are merged in the browser. This behaviour is not present in `vue-svg-loader@0.11`.

`my-svg.svg`:
[code]

`ParentComponent.vue`:
[code]

Result (in SSR):
[

[2019-08-29 08:43] nakajmg commented on #90
I also encountered the same problem.

In my case, same `id` attribute value was exists in imported svg.

[2019-09-16 14:41] maximelafarie commented on #92
@webcoderkz Which module did have you chosen though?

[2019-09-16 14:50] maximelafarie opened #96 "Importing SVG with symbols"
I would like to import SVGs from a `.svg` file that contains many `<symbol>`.
But I can't find how import them all through a unique import instruction.

E.g.: I'm trying to import them like this:

[code]

Then if I try to display it into the view I got this:
[code]
I don't know how to figure it out.

Regards! 🖖

[2019-09-17 12:56] coderjeet19 commented on #63
I ran into the exact same issue in my vue-cli project where the app<hash>.js.map contained rest spreads for every svg being loaded to the SPA.
I am using vue-svg-loader version v0.12.0.
I tried the solution mentioned by @cannap , which did not work for me.
I tried using .babelrc with
{
  "presets": ["babel/preset-env"],
  "plugins": ["transform-object-rest-spread"]
}
This also didn't work.

Finall

[2019-09-18 16:14] sandrina-p commented on #96
I'm having the same issue... have you found a solution?

[2019-09-20 10:04] maximelafarie commented on #96
For the moment I'm importing SVGs at a higher level of the app instead of inside the vueJS app. So I can call each icon from Vue app.
But that's really not handy at all... 😕

[2019-09-21 18:54] sergamers commented on #92
I've same problem.

[2019-09-21 19:06] sergamers commented on #92
@webcoderkz  @maximelafarie I solve it that:

Create in the root next file `custom.d.ts`:
[code]

and add to `tsconfig.json`:
[code]

[2019-09-23 12:42] Rednas83 opened #97 "After loading the id attribute is missing"
After loading a SVG file the id attributes are missing from the loaded SVG file.

Before:
![image](https://user-images.githubusercontent.com/25219229/65425177-ac68c800-de0d-11e9-97f5-3097d725f90f.png)
After:
![image](https://user-images.githubusercontent.com/25219229/65426332-4e89af80-de10-11e9-8380-b2b8cc94d947.png)

Is there any way to load the svg together with the id attributes?

[2019-10-01 06:34] watsuyo commented on #81
@FilipaSimao
I face the same problem. Was there a solution?

[2019-10-09 03:43] LXHFIGHT commented on #63
That is amazing!  It works  @Shepard

[2019-10-09 12:28] engmagdy87 commented on #38
I follow the instruction of adding loader to jest
https://vue-svg-loader.js.org/faq.html#how-to-use-this-loader-with-jest

but this error appears

![Screenshot-20191009142507-708x279](https://user-images.githubusercontent.com/8473421/66481210-a7a84300-eaa0-11e9-8286-7648479785b4.png)

[2019-10-16 23:58] ryanrca opened #98 "SVGs not rendered properly in SSR (nuxt.js)"
I have a few svgs that render perfectly when running nuxt.js in dev mode.  They look like this:

![image](https://user-images.githubusercontent.com/1275903/66967460-dd67a180-f035-11e9-97a4-cadf30302b32.png)

When built with Nuxt using SSR, they render like this:

![image](https://user-images.githubusercontent.com/1275903/66967496-f708e900-f035-11e9-824d-647ad208120d.png)

What are we doing wrong?

[2019-10-18 10:37] damtsnkff commented on #64
I suppose this hasn't been checked in a while but in case anyone is reading this today:

- The doc has been updated and the config is different, [see it here](https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs)

- You can then use it like this: `src="@/assets/img/logo.svg"`, or depending on your case, (mine), with a require `:source="require('@/assets/img/logo.svg')"`.

[2019-10-18 13:49] 2xAA commented on #97
Hey @Rednas83, came here with the same problem.
Using this option with SVGO in your webpack config keeps the IDs: https://github.com/visualfanatic/vue-svg-loader/issues/60#issuecomment-441359653

[code]

If your project is bootstrapped using the Vue CLI and you're using `vue-cli-plugin-svg-loader`, you can use this in your `vue.config.js`:

[code]

[2019-10-22 11:09] webcoderkz commented on #92
Well, using both declaration is the key, as @sergamers previously noted:

[code]

But you don't need to add it in `tsconfig.json` under files, it would be read automatically, you to just name it, like (random name).d.ts

[2019-11-06 21:05] visualfanatic commented on #98
Have you found a solution? If no, could you share those SVGs here?

[2019-11-06 21:05] #41 closed

[2019-11-06 21:08] visualfanatic commented on #97
Please follow @2xAA solution, IDs are "cleaned" by default by SVGO.

[2019-11-06 21:08] #97 closed

[2019-11-06 21:08] #60 closed

[2019-11-06 21:09] visualfanatic commented on #69
Have you found a solution?

[2019-11-06 21:09] #78 closed

[2019-11-06 21:11] visualfanatic commented on #94
Please try updating the package and let me know if that works.

[2019-11-06 21:11] #80 closed

[2019-11-06 21:11] #76 closed

[2019-11-06 21:13] visualfanatic commented on #74
@supermonkeyz please check out the updated readme (missing `babel-loader` in webpack config).

[2019-11-06 21:13] #74 closed

[2019-11-06 21:14] visualfanatic commented on #96
Hey @maximelafarie, could you share your SVG so I can try to repro this issue?

[2019-11-06 21:15] #68 closed

[2019-11-06 21:15] visualfanatic commented on #91
Could you try updating to the new version?

[2019-11-06 21:51] danielroe commented on #94
Will do :smiley: :+1:

[2019-11-07 10:47] hipkiss91 commented on #92
I'm facing the same issue when running `npm run test:unit` using the jest framework. It doesn't like the `?inline` and it also doesn't like things like `import 'pickerjs/dist/picker.css';`

[2019-11-11 16:52] danielroe commented on #94
@visualfanatic It doesn't actually solve this for me. I apologise for not adding a repro the first time round, however, and have now done so: https://github.com/danielroe/repro-vue-svg-loader

I may also take a look at this myself later.

[2019-11-11 17:15] visualfanatic commented on #94
@danielroe I found the issue and released a new version with the fix, please try updating to `vue-svg-loader@0.15.0`.

[2019-11-11 17:19] danielroe commented on #94
@visualfanatic Hm. Still giving me a mismatch.

[2019-11-11 17:24] danielroe commented on #94
Sorry - my fault, I had linked to my in-development version of vue-svg-loader!

[2019-11-11 17:25] #94 closed

[2019-11-21 13:25] shivgarg5676 commented on #98
I am facing the same issue as well. In my production build style tags are getting stripped from the svg defs. Whereas development builds are working fine.

[2019-11-26 14:26] artemi5c commented on #69
I have the same issue. Does anyone have a solution?

[2019-11-26 14:36] visualfanatic commented on #69
@artemi5c could you create a repo with reproduction so that I can take a look at it?

[2020-01-06 14:37] Shuunen commented on #83
Same here 😢

[2020-01-06 14:37] Shuunen commented on #83
Same here 😢

[2020-01-06 16:00] hendrikras commented on #38
any update on this? Im running into the exact same error.

[2020-01-10 12:03] EderOBarreto commented on #98
@shivgarg5676 Did you find a solution? I passing through the same problem. :(

[2020-01-10 12:04] ChromaticMind opened #101 "MS Edge NOT supported after v0.11.0"
I have just noticed that after upgrading post v0.11.0 my web-app now breaks in MS Edge. I have tried v0.12.0, v0.13.0, v0.14.0, and v0.15.0 as well and the issue seems to persist in all of those version. Rolling back to v0.11.0 fixes the issue.

Investigating further, the issue arising from the use of the rest operator (...rest) during a webpack build which is coming from this plugin. See a screen

[2020-01-10 12:06] visualfanatic commented on #101
Have you modified your config, so that it includes the `babel-loader`?
https://github.com/visualfanatic/vue-svg-loader#webpack

[2020-01-10 12:09] jackbarham commented on #101
I also worked with @ChromaticMind on this particular issue. We used this plugin with Nuxt.js, and it was a massive headache getting the `babel-loader` to work correctly. Of course, we want to use the latest version, but `...rest` operators break in Edge, and we wanted to make this post in case anyone else had the same issue.

[2020-01-10 13:46] alanaasmaa commented on #98
I manually inlined the styles.

[2020-01-13 09:42] mystrdat commented on #101
@jackbarham How did you manage to make it work?

[2020-01-13 09:46] jackbarham commented on #101
@mystrdat in package.json, change the version down to `"vue-svg-loader": "0.11.0"` and remove the `^` so it doesn't update when you run package updates.

[2020-01-13 09:54] mystrdat commented on #101
@jackbarham I see, from your reply I was under the impression you got it working with the latest version using the suggested `babel-loader` addition.

[2020-01-13 09:57] jackbarham commented on #101
Unfortunately, not.

[2020-01-13 16:23] mystrdat commented on #101
Just confirming that babel-loader doesn't fix the problem, downgrading to `0.11` does.

[2020-01-17 16:30] sem4phor commented on #73
I think it is worth putting this into the FAQ section :)

[2020-01-20 10:42] gangsthub commented on #101
`0.11.0` Worked for me. Thanks!

[2020-01-21 13:46] AasmundEndresen opened #102 "Jest integration not working"
As mentioned by others in this closed issue:
- []( https://github.com/visualfanatic/vue-svg-loader/issues/38.  )

The integration with Jest described in the docs:
- [](https://vue-svg-loader.js.org/faq.html#how-to-use-this-loader-with-jest)
is not working.

It only results in a very generic error.

[code]

Can anyone help identify a solution to this problem?

[2020-01-22 10:39] berdnikov opened #103 "Change attributes"
Hello. Tell me please how to change SVG attributes in icon. For example,
`<dynamic-icon icon="img/social/fb.svg" width="30" height="30" />` doesn't change SVG attributes :(

[2020-01-23 03:04] mjmcphail commented on #103
`<template>
  <UsersIcon class="icon"/>
</template>

<script lang="ts">
....
  import UsersIcon from '@/components/svg/solid/users-cog.svg';
....
</script>

<style scoped>
  .icon {
    height: 40px;
    width: 40px;
    fill: cornflowerblue;
  }
</style>
`

[2020-01-23 03:04] mjmcphail commented on #103
<template>
  <UsersIcon class="icon"/>
</template>

<script lang="ts">
....
  import UsersIcon from '@/components/svg/solid/users-cog.svg';
....
</script>

<style scoped>
  .icon {
    height: 40px;
    width: 40px;
    fill: cornflowerblue;
  }
</style>

[2020-01-24 04:38] soichih opened #104 "<title> not loaded"
I have <title> tags inside <path> to show tooltip info when I hover on top of the <path>

[code]

When I load this SVG using vue-svg-loader, I don't see the <title> object loaded for <path>. Is this by design? Is there a way to retain the <title>?

[2020-01-28 04:40] SnowNooDLe opened #105 "SVG <text> element is not showing properly."
Before I jump into the issue, appreciate for the great package.

So, I managed to load .svg and now I need to write some texts over this .svg file.

However, it seems rendered in DOM but not showing

Following code is what I have done.

[code]

The expectation was something like this,
![Screen Shot 2020-01-28 at 5 34 35 PM](https://user-images.githubusercontent.com/7849113/73235761-9f614880-41f4-1

[2020-01-28 15:00] fameches commented on #38
if your svg files have <?xml ?> you'll get the error.
const vueJest = require('vue-jest/lib/template-compiler');

module.exports = {
  process (content) {
    // remove <?xml ?>. Should be one root element or get an error
    if (content.startsWith('<?xml')) {
      const svgElIndex = content.indexOf('?>') + 2;
      content = content.substring(svgElIndex);
    }

    const { render } = vueJest({

[2020-01-29 04:50] SnowNooDLe commented on #105
I managed to solve this issue by adding an extra <svg> tag.

[code]

As the SVG2's rendering order is done by order we put inside ```<svg>``` and unfortunately, with vue-svg-loader, if you do following
[code]
test section renders first then it renders referralForm and reason why everything you want to put over the .svg is actually going underneath .svg.

Hence, I had to use ```<svg>``` element, th

[2020-02-02 09:11] OziOcb commented on #104
I have the same issue.  I don't see `` <title>`` and ``<desc>`` after load.

I would appreciate it if someone finds the solution to this issue.

[2020-02-04 03:49] WofWca commented on #83
What's the line where the error occurs and what gets imported?

[2020-02-05 10:04] dagadbm commented on #102
easy peazy solution i just found:

[code]

just do this on a file called svgMock.js (or wathever)
and then add it on the moduleNameMapper (NOT transform):
[code]

[2020-02-07 04:44] AtofStryker opened #107 "Document use of babel-loader to properly support IE11"
My team and I ran into a production issue where we were not passing the results of `vue-svg-loader` to `babel-loader`. This caused a production issue with IE11.  After reading the documentation a bit more carefully, it looks like `babel-loader` is implicitly used throughout to docs.

Would there be a benefit to adding a brief snippet of documentation stating that the loader requires babel to be fu

[2020-02-07 04:44] AtofStryker commented on #107
related to #76

[2020-02-13 09:35] RyuNIshimura commented on #102
[code]

how's this?

[2020-02-13 14:46] sem4phor commented on #102
Can confirm that @RyuNIshimura solution is working in a project using mixed inline and img-tag svgs. Thank you!

[2020-02-19 11:19] fadafez opened #108 "Problem after updating to 0.16.0"
Hello,
I'm sorry if my report is not complete but I'm a bit out of time now.

Today I did upgrade all outdated libraries in my project, including vue-svg-loader (from 0.15.0 to 0.16.0).
After the update, the build completed with a warning for each one of the vue components generated by the loader, here is the webpack output for one of them:

[code]

Even if this is only a warning, when I load my v

[2020-02-19 13:43] simllll commented on #108
Maybe related to https://github.com/visualfanatic/svg-to-vue/issues/19

[2020-02-19 15:53] fadafez commented on #108
Yes, I can confirm that: downgrading svg-to-vue from 0.7.0 to 0.6.0 resolved all warnings, and made the application work again.

I missed some posts, sorry :)

[2020-02-19 15:53] #108 closed

[2020-02-26 10:59] markhuot commented on #83
The problem for me was my webpack loader configuration. I'm using Storybook and the default webpack config includes an image loader that was catching my `.svg` files. The fix was to remove `svg` from the default image loader as described here: https://github.com/storybookjs/storybook/issues/6758#issuecomment-495598635.

[2020-02-29 08:34] rightaway commented on #84
Any word from the maintainers if this is something you would consider adding? I think it would be a huge win!

[2020-03-26 10:31] andreipopovici commented on #101
Can confirm that `0.11.0` is the only thing that worked for me. I had to remove `vue-cli-plugin-svg` since it was pinned to `0.12`.

[2020-03-28 22:28] thestevelavigne opened #116 "This relative module was not found"
New to Vue.  Used the CLI to create a new project, installed vue-svg-loader, added the example to my app.

I ensured that vue.config.js has the correct snippet.

I continue to get the following error:

* ./public/offices/opin_office.svg in ./node_modules/cache-loader/dist/cjs.js??ref--12-0!./node_modules/babel-loader/lib!./node_modules/cache-loader/dist/cjs.js??ref--0-0!./node_modules/vue-loader/l

[2020-04-07 14:16] rightaway commented on #51
@henriqemalheiros In this example you gave above

[code]

Is it possible to dynamically change the `icon` property and have the icon update automatically? It doesn't work for me, am I doing it wrong? When I run `changeIcon` below the `data` does update with the new value, but the icon doesn't change. How to do it?

[code]

[2020-04-08 16:29] Dinuz commented on #73
@acazacu Thank you so very very much! I was going insane with this, had your same exact configuration except the order in the mapper. That was it!!!

[2020-04-10 08:44] rightaway commented on #51
The dynamic switching works for me with `require` but not `import`, but unfortunately `require` doesn't let you use the magic comments for `webpackChunkName`. Any developers still active here? If so I'll provide a reproducible repo. Could really use a bit of help on this. :(

[2020-04-12 00:50] Dinuz commented on #51
@rightaway This happens because the nature of require (synchronous) and import (asynchronous) it's different. Require in commonJs synchronously retrieve the exports from another module, import instead relies on Promise internally.
What this means?
Means that substantially if you use require, at build time the Vue variables are unknown to webpack, so the built will include all the svg files in the

[2020-04-12 17:09] Papidev opened #117 "linearGradient not shown"
hello everyone
I'm using vue-svg-loader in a gridsome project, configured as it says in this page
[https://gridsome.org/docs/assets-svg/#add-svg-icons](https://gridsome.org/docs/assets-svg/#add-svg-icons)
Everything fine,  aside from this svg where linearGradient is not shown as it should,  because it seems not to be recognized.
Gradient is not shown at all, any idea?

[code]

[2020-04-14 19:28] TheDutchCoder commented on #81
Same thing for me, this repo seems inactive :(

[2020-04-15 12:14] antoniandre commented on #83
It did not work for me after copying exactly the Vue Cli code from https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs,

As I have both inline svg and external.

I was actually placing the inline keyword at the wrong place, it has to be that and not the opposite:

**js**
[code]

**css**
[code]

[2020-04-16 00:30] Papidev commented on #117
Ok, I've understood the problem. It's not related to "vue-svg-loader".
Gradients didn't show because svg was inside a sidebar component initially hidden (display:none).
Found another way to hide the sidebar without using "display:none" and now svg shows correctly.

[2020-04-16 00:30] #117 closed

[2020-04-17 21:15] kylegoines commented on #38
i removed my ?xml and still am encountering the above issue
- @fameches im trying to replicate your code but it seems there are some syntax errors and i dont understand what you're trying to get across

[2020-04-20 14:32] psulkava opened #119 "SVG class used twice displays as black instead of fill color"
I have an svg with 3 different classes that have 3 different fill color properties. I am using two of the classes for two different paths/polygons and those paths/polygons display as fill black rather than the styled color. When I remove the second usage of the class the first displays fine, also if I change the second usage to the same fill color but a different class name it works fine.

Here is

[2020-04-28 10:05] batmanhit commented on #92
HI, I am also having an issue whit running jest for `?inline` usage.

https://github.com/visualfanatic/vue-svg-loader/blob/master/docs/faq.md#how-to-use-this-loader-with-jest

I have followed this guideline and here is my jest configuration for your information.

[code]

`<rootDir>/test/unit/svgTransform.js` , this file is where I have located the following code.

[code]

Here is my `shims-svg.d.t

[2020-05-13 07:22] u12206050 commented on #76
Why is this closed and what is the solution for this? We are also experiencing this problem now.

[2020-05-13 07:49] cvn commented on #76
@u12206050 The solution is to add babel-loader to your configuration. The README has been updated, and this is now included in the examples.

[2020-05-19 15:40] pat-flew commented on #119
Just ran into something that sounds similar to this issue. There's an upstream dependency on svgo which defaults to only updating the first element with a matching class when inlining styles. Not sure that's a sensible default here but you could try changing it by configuring your vue.config like this:

[code]

[2020-05-19 19:39] psulkava commented on #119
Thanks @pat-flew! That did indeed fix the issue I was seeing.

[2020-05-19 19:39] #119 closed

[2020-05-21 16:13] marcel-dancak commented on #81
I think you guys are just missing 'babel-loader' part in your config, like it is shown in current documentation.

[2020-05-21 16:34] TheDutchCoder commented on #81
Nope, I use Babel loader in my setup.

[2020-05-21 18:14] marcel-dancak commented on #81
I have just created a fresh Vue app with Vue CLI and used exact config as @FilipaSimao without any problem. However, I have imported and used my svg file as regular Vue component, which was properly rendered as `<svg>` element. If you want to also keep an option to use svg file in `<img>` element, which require `file-loader`, then you can use this config

**vue.config.js**
[code]
and use it in you

[2020-05-25 19:07] jcushman commented on #108
Maybe this should be re-opened? I think I just got the same error.

During compilation:

[code]

During page display:

[code]

As a workaround, forcing yarn to use an earlier version of svg-to-vue avoided the issue:

[code]

[2020-05-27 02:37] KingWu commented on #92
Face the same issue

[2020-05-27 03:21] KingWu commented on #92
Just find a solution on this issue.

First, by using jest `moduleNameMapper` function, remove `?inline`
[code]
For my case
[code]

Second, transform the svg files into vuejs format
[code]

`svgTransform.js` can find it in the guide
https://github.com/visualfanatic/vue-svg-loader/blob/master/docs/faq.md#how-to-use-this-loader-with-jest

[2020-06-01 18:28] vvanpo opened #121 "v0.16.0 update breaks SVG imports"
Since upgrading from v0.15.0 to v0.16.0, my Webpack builds are flooded with the following types of warnings, and the resulting components throw TypeErrors:

[code]

My Webpack configuration is as described in the documentation, and it was working in v0.15.0.

[2020-06-11 10:59] funyapu commented on #101
+1 with 0.16.0 and not only on MS Edge: on IE11 as well.
wish if I could find this issue ticket yesterday :(

versions
- Microsoft Edge 44.17763.831.0 (*1)
- IE 11.1217

*1 Chronium version postponed in Japan due to government issue and published Apr 16th. Though  many companies haven't upgraded due to COVID19.

[2020-06-17 18:43] yuchiko opened #124 "Wrong path while using external SVG in context with vue-cli-service build --target lib"
Hey,

I am on developing vue.js UI library and some of my components use svg as below:
`import noImage from '@/assets/no-image.svg';`

and in template: `<img :src="noImage" />`

Everything is fine when I launch my library locally (in storybook or with vue serve [my_component])

But I found that path is incorrect when I use my library as a dependency inside another application in  `node_modules`
It

[2020-06-23 20:30] benface commented on #104
That's because the loaded SVGs are automatically optimized with [SVGO](https://github.com/svg/svgo). The solution is to either disable SVGO, or [the specific plugin that removes the title](https://github.com/svg/svgo/blob/master/plugins/removeTitle.js). You can do so like this:

Disable SVGO:
[code]

Disable `removeTitle`:
[code]

If you're using Vue CLI, the syntax would be:
[code]

[2020-06-29 13:03] Kobreizhyashi opened #125 "Blank page and "export 'default' was not found in '../..'"
Hi,

Since I've installed this package, I can't load any SVG (as logo for my website) using vue /w webpack.

Is there any issue?

My code :

[code]

Thanks :-)

[2020-06-29 14:30] Tofandel opened #126 "Why is babel required?"
I believe importing an svg that is just an xml template doesn't require any logic in the component

So why is there? The svgToVue dependency uses a spread operator and there is some logic in the generated vue component that doesn't work without babel

Wouldn't it be so much easier on everyone if the component was just a functional component without even a script?

Eg: entire vue file
[code]
It ach

[2020-06-29 15:50] Tofandel commented on #98
I'm guessing it's an issue with SVGO, might wanna try tweaking the svgo options and see if some settings solve your issue

[2020-07-01 09:20] Alexg10 commented on #90
Yes, look a the `id` or the `class` inside your svg. It must be unique to not use the same style.

[2020-07-03 17:40] wesgro commented on #126
Big plus 1 to this

[2020-07-21 16:05] tkd-itsuki commented on #45
I agree it would be better if we can dynamically change the path's attribute in the parent component.

[2020-07-29 09:12] MrToxy opened #129 "Webpack magic comments don't take effect. Images don't get cached after first request"
I have a component that has to switch between 4 images constantly, every time a property changes I import the specific image for it.
I noticed that the image always gets re-downloaded instead of being cached so I tried to use webpacks magic comments to prevent this from happening:

[code]

however, none of the magic comments work when importing the image. I'd like to be able to cache the images af

[2020-07-30 12:11] aleksre opened #131 "Failed to resolve async component"
In my project we use dynamic icons as described in #51 and it has been working fine. But after upgrading vue-cli-plugins 4.1.2 -> 4.5.0 it has stopped working in unit tests (mocha + chai) with the following warning:
[code]
The dynamic icon (e.g. 'search.svg') is loaded like this:
[code]
vue.config.js:
[code]
The docs says to include a SVG shim if you use typescript and get "Cannot find module" err

[2020-07-31 09:52] aleksre commented on #131
After extensive testing it seems like the error is introduced with the following package versions (or later).
[code]
If any of those are installed, the error is present. With the prior versions, the error goes away.

[2020-07-31 13:22] dukhevych commented on #25
I decided not to add svg rule to webpack and use webpack-loader-syntax to import svg as Vue components. Like this:

`import icon from '!vue-svg-loader!@/assets/icon/icon.svg';`

[2020-08-06 11:34] giuseppe-esposito-87 opened #132 "Some svg files aren't render correctly"
Hi,

I can't understand why some icons aren't rendered correctly while using vue-svg-loader, while others work fine.
What's more, those icons badly rendered by svg-loader are correctly rendered if pasted directly in the vue.js template

e.g.

[code]

Some other icons which don't work for me are:

[code]

[code]

While e.g.

[code]

is rendered the same by vue-svg-loader and pasting it in the templ

[2020-08-14 09:25] N1njaCat commented on #63
I use as you wrote but why do I get this error?
http://joxi.ru/v29nkbziz5yqgA
http://joxi.ru/DmB0MK5tz7LBbA
http://joxi.ru/brRpkqyTY9vdk2

[2020-08-14 09:31] N1njaCat opened #135 "Why do i get this error? Cannot assign to read only property 'exports' of object"
I use as you wrote but why do I get this error?
http://joxi.ru/v29nkbziz5yqgA
http://joxi.ru/DmB0MK5tz7LBbA
http://joxi.ru/brRpkqyTY9vdk2

[2020-08-17 08:43] N1njaCat commented on #135
I did vue upgrade common and now its work!

[2020-08-18 05:54] milewski opened #136 "Vue3 Support"
I think the dependency on template-compiler breaks with vue-3, is there any temporarily workaround?

[2020-08-23 14:37] damianstasik commented on #135
In case if you stumble upon more issues please report them here, thanks!

[2020-08-23 14:37] #135 closed, assigned to nobody

[2020-08-23 14:55] damianstasik commented on #101
Could you test `vue-svg-loader@beta` together with `vue-loader` instead of `babel-loader`? It should get rid of the issues in IE 11, but also fix a few bugs.

[2020-08-23 14:57] damianstasik commented on #107
`babel-loader` will be no longer needed once I release a stable version of `0.17.0`, it will be replaced by `vue-loader`. Checkout the `dev` branch to see the configuration example.

[2020-08-23 14:58] damianstasik commented on #116
@thestevelavigne do you still have the issue? Sorry for the delayed response!

[2020-08-23 15:02] damianstasik commented on #125
@Kobreizhyashi do you still have the issue? If that is still the case I would need the full error.

[2020-08-23 15:04] damianstasik commented on #121
@vvanpo do you still have the issue? If that is the case could you try `vue-svg-loader@beta` with [the updated configuration](https://github.com/visualfanatic/vue-svg-loader/tree/dev)?

[2020-08-23 15:07] damianstasik commented on #104
@soichih have you tried solution posted by @benface? Please let me know if are still having some issues with the loader.

[2020-08-23 15:10] AtofStryker commented on #107
@visualfanatic awesome. Thanks for the update!

[2020-08-23 15:15] damianstasik commented on #64
The FAQ section posted by @damtsnkff should help you fix the issue. I am closing this issue, but if you stumble upon other issues, please report them, thank you!

[2020-08-23 15:58] damianstasik commented on #136
@milewski I just released a new beta version with Vue 3 support, please check it out `vue-svg-loader@beta`. Please follow the updated configuration docs here: https://github.com/visualfanatic/vue-svg-loader/tree/dev#vue-cli.

[2020-08-25 07:45] funyapu commented on #101
@visualfanatic  tested with `vue-svg-loader@0.17.0-beta.1` + `babel-loader@8.1.0`. Still not working, and no console info thrown.

[2020-08-25 07:46] damianstasik commented on #101
@funyapu you do not need `babel-loader`, replace it with `vue-loader` and let me know.

[2020-08-25 08:28] funyapu commented on #101
oh sorry, let me retry

[2020-08-25 11:06] funyapu commented on #101
@visualfanatic Worked perfect in `vue-svg-loader@0.17.0-beta.1` and `vue-loader@15.9.3`. Thanks for great work 😸

[2020-08-25 23:12] vvanpo commented on #121
@visualfanatic it appears to have fixed itself, I had my version pinned at `0.15.0` since opening this issue, but if I install `0.16.0` now (which also upgrades `svg-to-vue` to version `0.7.0`) I no longer get errors.

[2020-08-25 23:14] vvanpo commented on #121
Using `0.17.0-beta.1` and swapping out `babel-loader` for `vue-loader` in my configuration also seems to work.

[2020-08-25 23:14] #121 closed

[2020-08-27 02:08] zhangtaoBqteam opened #138 "0.17.0-beta.1 in vue3 failed"
version: 0.17.0-beta.1
vue-version: vue 3.0 beta

I create the vue3 project through vue-cli, and follow the document to use the loader, but some errors occur when i use it

here is the configuration in vue.config.ts
[code]
the usage in App.vue
![image](https://user-images.githubusercontent.com/43007011/91375176-8aad6780-e84c-11ea-81b8-84a3640687d8.png)

then the error occur in broswer
![image](htt

[2020-08-27 02:13] zhangtaoBqteam commented on #138
Here is the reproduction https://github.com/zhangtaoBqteam/feedback

[2020-08-27 05:26] #138 closed, assigned to nobody

[2020-08-28 09:38] lqs469 commented on #66
In my case:
- vue@2.6.11
- vue-template-compiler@2.6.12
- vue-svg-loader@0.16.0

Still throw this error, So I downgrade the `vue-svg-loader` to 0.12.0, and fix it.

[2020-08-28 09:40] damianstasik commented on #66
@lqs469 could you check `vue-svg-loader@beta` with `vue-loader` instead of `babel-loader`? Please take a look at the readme.

[2020-08-28 12:26] lqs469 commented on #66
I reinstall `vue-svg-loader@beta`(0.17.0-beta.1 actually) with `vue-loader` just like `README`. And it works well. I think you have fixed it in beta version.

[2020-08-29 09:58] #105 closed

[2020-08-29 09:59] #69 closed

[2020-08-29 09:59] #91 closed

[2020-08-29 09:59] #96 closed

[2020-08-29 10:03] #83 closed

[2020-08-29 10:06] #51 closed

[2020-08-29 10:15] damianstasik commented on #126
`babel-loader` is no longer needed in the latest beta version 💪

[2020-08-29 10:15] #126 closed

[2020-08-29 10:16] #25 closed

[2020-08-29 10:17] #104 closed

[2020-08-29 10:18] damianstasik commented on #129
@MrToxy could you prepare a small repro?

[2020-08-29 10:18] #125 closed

[2020-08-29 10:18] #116 closed

[2020-08-29 10:19] #90 closed

[2020-08-29 10:22] damianstasik commented on #124
@yuchiko have you found the solution?

[2020-08-31 11:59] yuchiko commented on #124
Nope :(

[2020-09-02 13:55] DamianMullins commented on #121
Can confirm that `v0.16.0` with `vue-loader` works for me.

[2020-09-02 14:29] DamianMullins commented on #121
Actually, the SVGs weren't loading correctly in `v0.16.0` when I ran my application, `v0.17.0-beta.1` is all good.

[2020-09-03 00:33] bbugh commented on #83
If anyone ends up here trying to use this with Rails webpacker, you have to modify the webpacker-provided `file` loader to remove `.svg`.

[code]

[2020-09-07 12:41] sritirunagari commented on #136
@visualfanatic Does the webpack config in the readMe file work for vue-svg-loader@beta ? Because svg doesn't load when I upgraded to beta in my vue-3 app I had set it up using webpack 4

[2020-09-07 12:46] damianstasik commented on #136
@sritirunagari could you share your webpack config?

[2020-09-07 12:54] sritirunagari commented on #136
@visualfanatic Thanks for getting back. Webpack config I used was :
module: {
  rules: [
   {
        test: /\.svg$/,
        use: [
          'vue-loader',
          'vue-svg-loader'
        ],
      }
]
}

It's exactly the same config you mentioned in your readMe file. In fact, I have also something else, I had taken a dump of this : [vue-next-webpack](https://github.com/vuejs/vue-next-webpack-p

[2020-09-07 12:56] damianstasik commented on #136
@sritirunagari could you provide a full configuration file? This snippet looks fine 🤔

[2020-09-07 13:00] sritirunagari commented on #136
@visualfanatic  Here, it is

[code]

[2020-09-07 13:02] damianstasik commented on #136
@sritirunagari that's weird, are you sure you are using the beta version?

[2020-09-07 13:03] sritirunagari commented on #136
@visualfanatic , here is the dependencies overview from package.json

`{
  "private": true,
  "scripts": {
    "dev": "webpack-dev-server",
    "build": "webpack --env.prod"
  },
  "dependencies": {
    "vue": "^3.0.0-rc.9"
  },
  "devDependencies": {
    "@vue/compiler-sfc": "^3.0.0-rc.9",
    "babel-loader": "^8.1.0",
    "css-loader": "^4.2.2",
    "file-loader": "^6.0.0",
    "mini-css-extract

[2020-09-07 13:05] damianstasik commented on #136
@sritirunagari this might be actual bug in the loader, not in your config, I will take a look at it later today.

[2020-09-07 13:06] sritirunagari commented on #136
@visualfanatic
Infact when I try to run build script, I get the below error

`Module build failed (from ./node_modules/vue-svg-loader/index.js):
Error: Cannot find module 'svgo'
Require stack:
- ****/vue-next-webpack-preview/node_modules/vue-svg-loader/index.js`

then I had installed svgo dependency, to see if it picks up, but no luck.

[2020-09-07 13:07] sritirunagari commented on #136
@visualfanatic Sure, thank you, I will wait for your update

[2020-09-08 08:48] lutejka commented on #101
@visualfanatic After Updating to `vue-svg-loader@0.17.0-beta.1` I'm facing the same issue as described in #57  though

[2020-09-08 17:44] sritirunagari commented on #136
@visualfanatic I have an update. I guess it would have been some mistake in my project settings. I am using a lerna mono-repo and apparently one of the packages didn't compile as expected. I am able to load svgs now.

However, I still see one more issue, the dependency throws error if I build my app without 'svgo' dependency as mentioned in [my previous comment](https://github.com/visualfanatic/vu

[2020-09-13 20:00] damianstasik commented on #136
@sritirunagari Sorry for the delay, I finally found a bit of time to push a new release. I checked it using the `vue-next-webpack-preview` repo and it works, could you confirm?

[2020-09-21 15:25] sritirunagari commented on #136
@visualfanatic Sorry, I had missed to reply.

Could you mention which issue have you fixed in your new release ? I have report two minor ones.

- 'svgo' dependency missing
- svgTransform.js setup for Vue-3 & Jest

[2020-09-21 16:05] damianstasik commented on #136
@sritirunagari I fixed the missing `svgo` dependency issue. Could you share a simple repro with the Jest issue?

[2020-09-22 03:18] mohong commented on #132
I have the same question.

[2020-10-12 15:37] aavorthmann opened #140 "Invalid Component Definition"
I am trying to use the loader in a Laravel project and I keep getting an error of "Invalid Component Definition: route/filename.svg". I have Laravel Framework ^6.0 and vue@2.6.12 for this project. Any help would be appreciated! These are the rules I have in webpack.mix.js:

    module.exports = { 
        chainWebpack: (config) => { 
            const svgRule = config.module.rule('svg');  

[2020-10-15 11:40] KaliaJS commented on #58
Why the choice to remove the viewBox if it's present ?

[2020-10-16 08:28] onyx-blackbird commented on #136
I am also trying to use this in Vue3 which since a few weeks is officially released. Do we still need to use the vue-loader-v16 or is there an update.
And I'm trying to use this approach, but this also doesn't seem to work in Vue3, any ideas:
https://stackoverflow.com/a/59149533/3737177

EDIT: I just realized the documented approach also doesn't work for me (the file is there):
Cannot find module

[2020-10-26 15:54] raffobaffo commented on #140
Anybody? Exact same problem here

[2020-10-30 00:16] lights0123 commented on #58
@KaliaJS it reduces size by a view bytes, which is the point of SVGO.

[2020-10-30 19:21] camilohollanda commented on #136
@sritirunagari could you share your working configuration? I was not able to get it to work here.

[2020-10-30 21:26] diracs-delta commented on #140
these issues are almost always because of webpack loader conflicts when using a JS framework that provides a webpack config preset, which usually loads *.svg files with `url-loader` instead. at least, this is the case with the quasar framework.

here's a solution i came up with that works in quasar. it goes through all the rules and deletes all mentions of 'svg'. then your vue-svg-loader configura

[2020-10-30 21:27] diracs-delta commented on #140
admittedly webpack has got to provide a better way of writing new rules and modifying existing ones. regex is such an overengineered, encumbersome, and awful design choice for this application, considering that 99% of loader rules exclusively involve switch-casing file extensions.

[2020-11-09 18:49] Tjark-Kuehl commented on #136
Using Typescript it doesn't work at all.
The svg types are outdated and doesn't work anymore.
You cannot compile with these errors.

Nvmd its fixable with this.

In Vue3 you need to define the Svg definition file like this
[code]

[2020-11-18 14:06] jan-thoma opened #141 "Loading svg in css files"
This is my webpack config for my Vue3 project:

[code]

When i try to use a svg as background image in my css files like this:

[code]

The image in compiled stylesheet in the inspector looks like this:

[code]

Is this a bug or is my config wrong?

[2020-11-18 16:54] rickson-simoes commented on #141
Check the 'Vue Cli' tab. May help you, just the way it helped me. 😉

[How to use both inline and external svgs](https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs)

[2020-11-19 07:12] jan-thoma commented on #141
This example doesn't work with Vue3. It looks like the file-loader in my config returns an object instead of a path which looks like this:

`{ __file: '/path/to/file' }`

This is maybe more related to webpack instead this plugin.

[2020-11-26 03:52] Trojan0523 opened #142 "support for vite"

[2020-11-26 10:43] damianstasik commented on #142
Hello @Trojan0523, you can use my plugin for that: https://github.com/visualfanatic/vite-plugin-svg

[2020-11-26 11:50] Trojan0523 commented on #142
thank you so much ! i use it  ,and it works

[2020-12-04 09:31] serializedowen commented on #141
Any follow ups? I'm experiencing same issue here.

[2020-12-09 15:25] zefman commented on #141
Yeah same problem here with Vue3

[2020-12-10 11:45] simon04 opened #144 "vue-svg-loader@0.17.0-beta.2 contains 115 MiB of vue-cli"
The npm package vue-svg-loader@0.17.0-beta.2 contains 115 MiB of vue-cli – https://unpkg.com/browse/vue-svg-loader@0.17.0-beta.2/

Please re-package in a clean environment.

[2020-12-14 16:41] andreasvirkus commented on #141
Same problem with Vue2 as well.

Seems related to https://github.com/visualfanatic/vue-svg-loader/issues/64 and the updated docs:
https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs

Edit: This might be better, but i currently got neither solutions to work. Will update when I manage to https://github.com/visualfanatic/vue-svg-loader/issues/62#issuecomment-456782895

[2020-12-21 20:34] robertaecosta opened #146 "Change style attribute value from svg"
Hello everyone,

I need to change fill color from some path elements inside my .svg. How should I approach this?

We can pretend this is my .svg file:

[code]

And this is my template, if it matters
[code]

It would be ideal for me if we could reference the elements by its id's ('tx-port-1' and 'tx-port-2').
I can edit the .svg file in any way if necessary.

I believe this should be very simple, s

[2020-12-22 18:17] robertaecosta commented on #146
Well, I figured out a solution.
It was to use d3, of course! I thought I could solve my life without adding another dependency to the project, but I think it wasn't possible.

If anyone's interested, here is my working JS code:
[code]

[code]
(I had to add a class to the elements on the .svg so I could select them from the JS, because I couldn't select them via id for some reason and don't have a

[2020-12-22 18:18] #146 closed, assigned to nobody

[2020-12-22 23:55] rightaway commented on #84
Now that Webpack 5 is out, is this something that could be considered? I think it would be a huge win!

[2020-12-28 08:37] oscars17 commented on #141
Any updates? Have the same problem, cant find a proper solution

[2020-12-30 16:33] Niedzwiedzw commented on #132
same problem

[2020-12-31 08:07] jianxiaofei opened #147 "兼容多个svg"
使用 vue cli 3，可以通过配置 vue-svg-loader 来将 svg 图标作为 Vue 组件导入

// vue.config.js
module.exports = {
  chainWebpack: config => {
    const svgRule = config.module.rule('svg');

    svgRule.uses.clear();

    svgRule.use('vue-svg-loader').loader('vue-svg-loader');
  },
};
这样配置后其他的svg 链接引入，如echarts 的图标引入，require()图标引入 都不起作用了，也不会打包svg了？

[2021-01-05 17:03] iNeoO opened #148 "mixing inline/externals not working with vue-cli 3"
Hi,

I use vue-cli-3 with vue3 i use this config https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs

is there anything else to do ?

[code]

[code]

externals are walking well. I tried default config and it worked well (but externals were crashing)

[2021-01-08 07:54] Soviut commented on #132
The issue is caused by SVGO aggressively optimizing your files.

To disable SVGO add the following option to the vue-svg-loader in your webpack config.

[code]

[2021-01-08 10:07] giuseppe-esposito-87 commented on #132
Thank you for the answer.
Unfortunately I don't work anymore on the project which had this problem so I can't quickly [it ](https://github.com/visualfanatic/vue-svg-loader/issues/132#issuecomment-756608004) works.
I hope someone who had same problem can check\confirm that.

[2021-01-14 06:38] rightaway commented on #136
@visualfanatic Anything we can do to help get a stable version with Vue 3 support out?

[2021-01-20 08:32] jaroslaw-weber commented on #119
didnt work for me though...

[2021-01-21 13:19] atilkan opened #149 "Creating functional component"
Is there any reason to create components without functional attr?

[2021-02-03 21:25] Roriz commented on #124
up

[2021-02-08 10:50] Raademar commented on #144
Is this being looked into?

[2021-02-09 11:49] simon04 commented on #144
I gave up waiting and replaced vue-svg-loader with a minimalistic loader stored in the project itself:

[code]

[2021-02-12 15:01] ndh103 commented on #81
Thanks @marcel-dancak , I am able to use your config, just a small update that I use 'vue-loader' instead of 'babel-loader'

[code]

[2021-02-12 22:16] Raademar commented on #144
This solution worked fine for me

[2021-02-18 10:09] daniluk4000 opened #150 "Configure both internal and external loaders in 0.17.x"
I will just leave it here for someone looking for usage in 0.17.x. It's almost the same, but without babel

## Vue
[code]

Tested in Vue 2.x

## Nuxt
[code]

[2021-02-20 16:49] FilipaSimao commented on #81
I added the following code in my **vue.config.js** :
[code]

[2021-02-20 16:49] #81 closed

[2021-02-24 18:56] drewbaker commented on #141
I'm also very confused with how we are supposed to use SVG's in CSS with this?

[2021-03-02 19:12] varave commented on #141
It works for me with the config from the docs (vue cli tab):
https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs

`"vue-svg-loader": "^0.16.0"`

[2021-03-05 09:52] chrisb-c01 commented on #141
Using vue-cli 3 config, it is working for me using the config from the docs as mentioned by @varave, however replacing `babel-loader` by `vue-loader` (I took that from the dev branch).

Config in `vue.config.js`:

[code]

[2021-03-10 05:08] japboy commented on #92
any updates? i still have this issue

---

`svgTransform.js` doesn't seem to be necessary any more with `vue-jest@4.x`. ~~just add `vue-jest` for the `.svg` transformer.~~

[code]

---

this transformer works with `vue-jest@4.x`:

[code]

[2021-03-11 22:00] asmaloney opened #153 "svgo options not working in webpack config"
I'm using vue-svg-loader 0.16.

If I do this:
[code]
It does what is expected.

If I do this it does not:

[code]

It doesn't fail and doesn't give any feedback, it just doesn't work.

I wonder if it's because 0.16 depends on _svg-to-vue_ which depends on an older version of svgo (1.3.2 - 2.2.2 is available)?

[2021-03-23 07:28] Keavon commented on #136
Specifically for people running across this, you will want to add this to an `index.d.ts` file (any file name ending in `.d.ts` is fine). Then do one of the two following (the second option is better):

Add this to the top of your TypeScript file which is importing the SVGs:
[code]

Or (better), update your project root's `tsconfig.json` so the `"include"` array points to your `.d.ts` file, for ex

[2021-03-28 22:01] samo9789 opened #154 "[Question] Some objects in the SVG are being removed"
Hi,

I suppose this is a question more than an issue, I am using an SVG in order to create an interactive floor plan.
The SVG is made of one image object (the floor plan) and several shapes on top of it (that get highlighted on roll over)
In order for these shapes to be clickable in the component, they have an ID

When loading this SVG file with the component, everything but the main image is stri

[2021-04-05 23:05] daverogers commented on #55
I'm on version `v.0.16.0` and adding "title" to the SVG isn't working, not sure if that piece was implemented or it requires `<title>` to be in the SVG already?

[code]

I ended up having to wrap the SVG in a span to attach the title, which isn't the end of the world but not as clean obviously:
[code]

[2021-04-08 07:44] dong111777 opened #156 "Please create a new version to support svgo 2.x"
The dev branch seems to support svgo 2.x now, could you please help build a new package to npm?

[2021-04-12 13:57] syuilo commented on #138
I have the same problem. Why was it closed?

[2021-04-13 11:16] antoci-alin commented on #154
Same situation here.
A lot of components are just black.
![Screenshot_1](https://user-images.githubusercontent.com/47194599/114544075-cf163800-9c62-11eb-9643-6270dd353ac9.png)

[2021-04-13 11:17] andreasvirkus commented on #150
I'm trying to get it to work in the reverse - I want to load the SVG inline by default and only load it externally when the resource query is passed in. So I thought I'd need to switch the rule order, as otherwise `oneOf` would always match the inline import pattern first:

[code]

So I could do

[code]

But i still get back a Vue instance for both imports (with both `0.16.0` & `0.17.*`) 🤔  @visua

[2021-04-13 12:29] aranoe commented on #131
Did you find a solution to this? I am using JavaScript and it doesn't work either.

[2021-04-14 08:35] aleksre commented on #131
I did not. All SVG related tests are simply skipped currently.

[2021-04-21 11:16] EmanueleCoppola commented on #136
Is there an ETA for the stable release?

[2021-04-27 09:56] pmrotule commented on #144
@simon04 You don't seem to optimize your svg code with [svgo](https://www.npmjs.com/package/svgo#api-usage) like `vue-svg-loader` would do.

[2021-04-27 12:36] simon04 commented on #144
@pmrotule, you're right. My use-case was to load [bootstrap-icons](https://icons.getbootstrap.com/). Thus, using svgo seemed unnecessary.

[2021-05-11 22:40] blimmer commented on #102
I was using @RyuNIshimura's transformer, but I'm having an issue where the SVG component is not responding to `click` events in test. It works correctly when it's run through webpack, but not when transformed with `jest`.

I wrote up a quick sample repo to show this issue: https://github.com/blimmer/vue-jest-svg-issue. Is there more needed to enable `click`-ing on transformed SVGs, like you can do

[2021-05-20 17:06] ymc-sise commented on #51
I want to include svg as a dynamic component as in the examples here. If I use

[code]

[code]

I have an `Error in render: "TypeError: Cannot read property 'props' of undefined"` with vue 2. Any ideas?

Do I need vue-cli? I only build webpack with `.enableVueLoader()`.

[2021-05-21 10:10] rightaway commented on #154
Something is broken here. @samo9789 @antoci-alin did you find a workaround? Does it work in an older version of plugin or did you switch to another vue svg plugin?

Maintainers of this project aren't around much anymore. :(

[2021-05-21 11:57] pavel-lens commented on #101
+1 I can confirm that downgrading to `0.11.0` worked for me.

[2021-05-23 11:42] antoci-alin commented on #154
Unfortunately nope... I just changed the illustration.

[2021-05-27 12:42] samo9789 commented on #154
I ended up creating a .vue component and pasting the SVG in it as I couldn't get this tool to do what I needed. I opened this ticket hoping the proper solution would eventually be possible with this package.

I didn't try older version, would you know which version to try ?
Are there forks that are more active ?

[2021-06-04 18:36] pp-vlad commented on #103
valid use case. for example I want to pass viewBox prop

[2021-06-18 15:16] Vsevo1od commented on #102
@blimmer As a workaround you can use `.vm.$emit('click')`
e.g. `demo.find('#svg-button').vm.$emit('click');`

[2021-07-03 12:38] exeptionerror commented on #78
[[Solved] Module parse failed: Unexpected token (763:13) in VueJs
](https://exerror.com/module-parse-failed-unexpected-token-76313-in-vuejs/)

[2021-07-14 09:41] hokkaido opened #166 "SVG is missing parent's data-v attribute?"
When using multiple nested components (for instance: app component -> scoped layout component -> scoped page component with inlined svg), it seems to me that only the data-v attribute of the top-most component is set on the svg element, but not the data-v id of the page component itself, which prevents scoped classes from working.

[2021-07-16 16:09] WhyNotHugo commented on #136
I also can't quite get this to work, but I'm getting an error I'm not seeing anyone else having:

[code]

Any ideas? This is my new `vue.config.js`:

[code]

[2021-07-27 01:35] jskitz commented on #136
@visualfanatic I have most everything working, except that I can no longer style any SVG files within my component using Vue 3. I don't know what changed between Vue 2 and Vue 3, but here is my very simple component:

[code]

None of the styling works unless I remove `scoped`. For example, the hover state does not work. But if I remove `scoped`, then it works but the stylings bleed into other comp

[2021-07-27 01:43] Keavon commented on #136
Just in case it helps anyone figure this out, I was able to get it working in my project, here is the repo: https://github.com/GraphiteEditor/Graphite and here is the `vue.config.js`: https://github.com/GraphiteEditor/Graphite/blob/master/frontend/vue.config.js

[2021-07-28 22:56] jskitz commented on #136
@Keavon I took a look and I also have it working, but my main problem with the latest, is that I have to remove `scoped` in all of my CSS to use this library now.

Does anyone have any idea what changed between Vue 2 and Vue 3 that requires me to remove `scoped` on all of my CSS? This is certainly not just a slap in replacement to what was there. Every module that contains an SVG file that I style

[2021-08-04 13:04] moonshark opened #167 "Component is missing template or render function."
I am getting issues trying to get this to work.

This is the code inside of my component:
[code]
This is my vue.config.js file:
[code]

This is my package.json file
[code]
The error I get is:
[code]

If I open up the sample.svg file, I have this code:
[code]
I am pretty new to Vue, so apologies if this is down to how I have installed it.

[2021-08-09 19:24] Miguel-Bento-Github commented on #167
@moonshark This is a duplicate of [this issue](https://github.com/visualfanatic/vue-svg-loader/issues/136)

[2021-08-16 13:39] n4ks commented on #141
If someone encountered a similar problem with Nuxt, then I was able to fix it by changing:
this
`url('~/static/images/fileName.svg)`
to this
`url('/images/fileName.svg)`

[2021-08-19 19:19] Anatolie commented on #141
For anyone using **Vue2**, here is how I got it working with **Webpack 5**:

[code]

My rule in `webpack.common.js`:

[code]

I opted to have the `?inline` rule on any non-imported components.

In my SCSS (or CSS) files, I can use SVG backgrounds like so: `background-image: url('../images/breadcrumb-chevron.svg?inline');` <-- note the **?inline** will have to be added to any SVG URLs in CSS.

And

[2021-08-20 06:25] phoenix-ru commented on #136
That is the way `scoped` works in general. It will parse all the classes/elements in your SFC and apply scope for them. Since you don't explicitly use SVG in the template, the `scoped` will ignore it (no matter if it appears later or not).

[2021-08-26 14:21] giovannidias1 commented on #136
i getting the following error after update

[code]

this ocurrers in all my svg files i'm using webpack

[2021-08-27 14:16] giovannidias1 opened #169 "Syntax error on build"
i getting the following error after update

[code]

this ocurrers in all my svg files i'm using webpack

[2021-08-28 20:30] tsiotska commented on #136
You've forgotten to use 'vue-loader-v16' instead of 'vue-loader'

[2021-09-13 16:13] WhyNotHugo commented on #136
Thank for the hint, `vue-loader-v16` fixed that particular issue. I did a few more tweaks, and now I'm stuck again seeing:

[code]

This is my current `vue.config.js`:

[code]

The file path seems correct (and hasn't changed since the working Vue2 setup):

[code]

I think my `src/assets/svgs.d.ts` is also relevant, and should be correct (also unchanged since Vue2):

[code]

Any ideas what's up her

[2021-09-17 13:43] AasmundEndresen commented on #136
This Jest issue seem to still be a problem - the solution described in the docs simply doesnt work.  Its very easy to reproduce, as if you try to run a test using a svg as a component in any project it will fail.

[2021-09-20 21:29] SherinBloemendaal commented on #136
+1 After `npm update` everything broke. I did an `vue inspect` on my config before the update and after the update, no big differences so i don't really know whats causing this.

[2021-09-22 13:47] ajerez commented on #136
I'm getting this error, yesterday all was working good:

 error  in ./src/assets/img/wysiwyg/strike.svg

Module parse failed: Unexpected token (1:0)
File was processed with these loaders:
 * ./node_modules/vue-loader-v16/dist/index.js
 * ./node_modules/vue-svg-loader/index.js
You may need an additional loader to handle the result of these loaders.

[2021-09-22 14:13] jan-thoma commented on #169
Yep the update of vue-loader 16.5 to 16.7 broke the build process

[2021-09-22 20:17] drewcauchi77 commented on #136
Same error as @ajerez . Building my project through webpack was working a few days ago but stopped working today due to issues within the SVGs.

Module parse failed: Unexpected token (1:0)
File was processed with these loaders:
 - vue-loader
 - vue-svg-loader

You may need an additional loader to handle the result of these loaders.

[2021-09-23 10:50] drewcauchi77 commented on #136
I have managed to solve the issue quoted by @ajerez and myself above by upgrading vue-loader to version 16.5.0. Below are the versions that I am currently using with Vue 3.1.4 - build was successful.

[code]

My webpack build for svg files is as per below (specific to my project):

[code]

Hope this helps!

[2021-09-23 16:00] jskitz commented on #136
I tried to upgrade `vue-loader` to the latest, which is version `16.8.1`. I get this error with the latest version of `vue-loader`:

[code]
I know that it works correctly with version `16.5.0` so I wanted to see in what version it breaks. It turns out, that if you upgrade `vue-loader` to version `16.6.0`, it will break when trying to compile SVG files. For now, I'm going to stay on version `16.5.0

[2021-09-24 14:35] ayhanselek commented on #169
I'm having the same problem.

[2021-09-26 07:39] faiqali1 opened #172 "Relative module not found!"
I am trying to add an SVG
[code]
I keep getting this error:
[code]
The files are stored here:
![image](https://user-images.githubusercontent.com/74228240/134798273-4c82f961-eb64-4545-9027-88944713319a.png)

and this is the vue.config.js file:
![image](https://user-images.githubusercontent.com/74228240/134798372-d3f129c3-cbf4-4d1d-9f61-7216d5505a81.png)

[2021-09-26 11:05] faiqali1 commented on #172
I moved the files from the public directory to the assets directory

![image](https://user-images.githubusercontent.com/74228240/134805069-6e765962-f136-4ec4-b286-c8b2f44e4562.png)

and now I am getting this error:

[code]

Any help would be greatly appreciated.

[2021-09-28 11:12] LucasKauz commented on #169
Same here, I had to lock the vue-loader version to 16.5 `"vue-loader": "~16.5.0",`
and switch my dependency from  vue-loader-v16 `.loader('vue-loader-v16')` back to the vue-loader loader.

[2021-10-05 03:44] supryantowp commented on #136
have you found a solution?

[2021-10-05 03:58] supryantowp commented on #172
[code]

change to

[code]

[2021-10-12 06:10] Kandom commented on #169
Same problem. Downgrade "vue-loader" back to 16.5.0

[2021-10-14 19:41] sebbean commented on #83
@bbugh you beautiful beautiful boy you just saved me an afternoon

@rafaelmonroy thank you!

[2021-10-18 10:08] Nikkolast88 commented on #136
what happened ?

in ./src/assets/404.svg?component

Module parse failed: Unexpected token (1:0)
File was processed with these loaders:
 * ./node_modules/@vue/cli-service/node_modules/vue-loader-v16/dist/index.js
 * ./node_modules/vue-svg-loader/index.js
You may need an additional loader to handle the result of these loaders.

vue.config.js
chainWebpack: (config) => {
    const svgRule = config.mod

[2021-10-19 07:06] Nikkolast88 opened #174 "Module not found: Error: Can't resolve 'vue-loader-v16'"
vue：3.2.20
vue-cli：5.0.0-beta.6
vue-svg-loader：0.17.0-beta.2

vue.config.js
   chainWebpack: (config) => {
    const svgRule = config.module.rule('svg');

    svgRule.uses.clear();
    config.resolve.alias.set('@', path.resolve('./src'));

    svgRule
      .oneOf('component')
      .resourceQuery(/component/)
      .use('vue-loader-v16')
      .loader('vue-loader-v16')
      .end()
      .use('vu

[2021-10-23 03:07] #172 closed, assigned to nobody

[2021-10-26 09:48] thimonwentink commented on #136
Is there a solution yet?

[2021-10-29 01:02] bradleySuira commented on #136
Tested this and works [https://www.npmjs.com/package/vue-cli-plugin-svg-vue3](https://www.npmjs.com/package/vue-cli-plugin-svg-vue3)
- ` "vue": "^3.2.1"`
- `"vue-cli-plugin-svg": "~0.2.1"`

*** Some issues with chrome to render with img tag src so at the end I'm using the inline option.

[2021-11-01 05:50] Keavon commented on #156
Please @visualfanatic

[2021-11-10 03:39] vpillinger commented on #144
Here is code with svgo 2.2.

[code]

[2021-11-10 07:10] anish2690 commented on #150
@andreasvirkus try with
[code]

[2021-11-17 23:25] gablittledevshop opened #175 "Security vulnerability - nth-check dependency"
Running `npm audit` in my project reveals a vulnerability with the `nth-check` dependency  https://github.com/advisories/GHSA-rp65-9cf3-cjxr . This seems to be resolved already in other dependencies, `css-stream` https://github.com/fb55/css-select/issues/607, but not with svg-to-vue.

[2021-11-25 03:32] rlsz commented on #132
disable SVGO working for me

[2021-11-26 07:48] frankykubo commented on #175
Yeah, it would be very nice if maintainer resolved this. However it looks like that this project is not maintained anymore.

[2021-11-27 02:45] jzymx50 commented on #144
As an alternative, if you only use vue2, you can switch to version `0.17-beta.0`.

[2021-11-30 14:37] arcs- commented on #138
this is still an issue

[2021-12-14 01:27] dengxp opened #177 "Syntax Error: NonErrorEmittedError: (Emitted value instead of an instance of Error) Error in parsing SVG: Non-whitespace before first tag."
error  in ./src/assets/logo.svg?inline

Syntax Error: NonErrorEmittedError: (Emitted value instead of an instance of Error) Error in parsing SVG: Non-whitespace before first tag.
Line: 0
Column: 1
Char: m

 @ ./node_modules/cache-loader/dist/cjs.js??ref--13-0!./node_modules/babel-loader/lib!./node_modules/cache-loader/dist/cjs.js??ref--1-0!./node_modules/vue-loader-v16/dist??ref--1-1!./src/layouts

[2021-12-21 15:39] kingyue737 commented on #147
https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs

[2022-01-07 13:02] kingyue737 commented on #148
I use vue-cli5 with vue2 and meet the same issue.
Here is my config:
[code]

[2022-01-07 13:10] kingyue737 commented on #148
the docs is outdated. Replace `babel-loader` with `vue-loader` solved my issue.

[2022-01-13 15:22] cnicodeme commented on #172
Hi!

I'm re-opening it as I'm having the same issue despite settings "vue-loader-v16".

Here's my vue.config.js :

[code]

I have the same error as mentioned.

[2022-01-14 08:17] cnicodeme commented on #172
**Update**: Installing `vue-svg-loader@0.17.0-beta.5" fixed the issue.

[2022-02-08 22:36] jerryjappinen opened #180 "Nuxt 3 support"
Nuxt 3 is still not quite ready for prime time, but it's getting close. SVGs are a crucial component of any web app, so having `vue-svg-loader` working on Nuxt 3 will be a big step.

While Nuxt 3 is still in progress, I wouldn't think it would be an unreasonable effort to update compatibility and docs to enable Nuxt 3 usage.

So far I wasn't able to get `vue-svg-loader` to work. I'm getting this e

[2022-02-08 22:58] jerryjappinen commented on #180
Related: https://github.com/nuxt-community/svg-module/issues/86

[2022-02-09 12:43] anandbhaskaran commented on #38
Solution from @visualfanatic worked! However as I was using a later version of babel, I had to install babel bridge to make vue-jest compile properly.

npm i -D babel-core@^7.0.0-bridge.0

[2022-02-13 03:32] cyruscollier commented on #180
@jerryjappinen I was able to get this working with Nuxt 3 using the`0.17.0-beta.2` version of vue-svg-loader. My nuxt config looks like this:

[code]

Let me know if that helps!

[2022-02-14 20:55] jerryjappinen commented on #180
Thanks @cyruscollier . I switched to `vite-svg-loader` which seems to work fine as well:

[code]

[2022-02-15 18:37] grindpride commented on #180
@jerryjappinen But vite-svg-loader cannot into dynamic import. Like
[code]

How do you import the icons component? Each one separately?

[2022-02-15 19:05] jerryjappinen commented on #180
Yeah I usually import them as components, either each one separately or in one `Icon` component which can then toggle the icon by prop (and do other things, like multiple icon states, rotations etc).

In a regular app/site with a limited set of commonly used icons I think it's fine. Haven't really needed dynamic imports that much.

[2022-02-23 07:47] davolcu commented on #136
Is there any progress in moving this from beta to rc?

[2022-02-23 07:51] Keavon commented on #136
This might not be the best advice for everyone but it was helpful to me and possibly will for others: if you don't care about minifying your SVG code, you don't need to use `vue-svg-loader` at all. You can write your own replacement for this entire library in four lines:

[code]
(I put this in `vue-svg-loader.js` at the Vue project root, a sibling of `vue.config.js`)

Then just import it in your `

[2022-02-26 20:11] 719media commented on #136
@Keavon Are you using vue cli v5?

[2022-02-26 20:32] Keavon commented on #136
My attempt to upgrade has [not been successful yet](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/674#issuecomment-1045502560).

[2022-03-10 02:18] johnnyhwa opened #185 "Vuecli 5.x support"
the loader not work in webpack5 environment

[2022-03-17 12:32] CcrisS commented on #185
try something like this:

[code]

[2022-03-18 07:45] johnnyhwa commented on #185
@CcrisS Thanks, bro. It works
I think it's because the '[asset modules](https://webpack.js.org/guides/asset-modules/#resource-assets)' in webpack 5

[2022-03-18 12:17] petitkriket commented on #51
same here, adding `.default` at the end of require()  solved the issue I had when migrating to vue 3 while prodividing the value to a dynamic component

[2022-03-23 09:55] Gwalchmei opened #186 "Loading svgs from different packages"
I want to dynamically load svg from consumer projects and from a "core" dependency project but I manage to only load files located in my consumer projects. I don't know if I'm missing something in my config or if it is a bug.

# Core project

[code]

Icon.vue
[code]

# Consumer projets

[code]

vue.config.js
[code]

And then in my components

[code]

I have the following error

[code]

[2022-03-26 04:14] nirali35 commented on #185
It doesn't work for me. @CcrisS are you able to help?

This is what my entire `vue.config.js` looks like.
[code]

[2022-03-31 15:18] sidneygijzen commented on #185
[This solution](https://github.com/vuejs/vue-cli/issues/6785#issuecomment-952653154) works for me.

[2022-04-13 21:05] wwhtml opened #189 "vue3 error"
error  in ./src/assets/svg/collapsed.svg

Syntax Error: Error:

Vue packages version mismatch:

- vue@3.2.32 (C:\Users\Wang\Desktop\新建文件夹 (2)\app\node_modules\vue\index.js)
- vue-template-compiler@2.6.14 (C:\Users\Wang\Desktop\新建文件夹 (2)\app\node_modules\vue-template-compiler\package.json)

This may cause things to work incorrectly. Make sure to use the same version for both.
If you are using vue-l

[2022-04-15 07:13] mokone91 commented on #189
Hi! vue-template-compiler is related to vue2, seems you need to use @vue/compiler-sfc

[2022-04-28 03:15] doooooit opened #190 "Is this project still being maintained?"
The latest version of this project is 0.16.0, it doesn't work on my project unless I upgrade to 0.17.0-beta.2
But this version was released two years ago, is this project still being maintained?

[2022-04-28 11:26] Deuscx commented on #185
[code]
try this

[2022-05-03 06:33] joaopslins commented on #38
Hi folks,

This solution is not working anymore after updating to `vue-jest@4`, or `@vue/vue2-jest` because this import fails `require('vue-jest/lib/template-compiler');`, since there's no `template-compiler` file anymore.

Does anyone figured out another workaround? Thanks!

[2022-05-06 11:22] Excalibaard commented on #156
What I did for SVGO 2.x support is just chaining [svgo-loader](https://github.com/svg/svgo-loader), before passing to vue-svg-loader, and set `svgo: false` for vue-svg-loader.

---

At that point the only thing this package does is wrap the SVG in `<template></template>`tags though, so you could [write your own loader](https://webpack.js.org/contribute/writing-a-loader/) instead of relying on this

[2022-05-06 11:27] Excalibaard commented on #190
Doesn't seem like it's being updated anymore. I ended up switching to `svgo-loader` for handling my svgo process and a custom loader to do the conversion to a Vue component.

https://github.com/visualfanatic/vue-svg-loader/issues/156#issuecomment-1119513016

[2022-05-14 13:58] men232 commented on #185
I use this config for my project, the basic idea to import svg as a component by using query parameters, for example

Example:

[code]

`vue.config.js`

[code]

[2022-05-15 16:42] rightaway commented on #156
@Excalibaard Can you please show exactly how you did it? Would like to do it your way so I can get rid of this package since @visualfanatic has stopped maintaining or responding for a long time3.

[2022-05-16 04:26] weijian-zhu opened #192 "Vue packages version mismatch"
Vue packages version mismatch:

- vue@3.2.33 (xxxx/node_modules/vue/index.js)
- vue-template-compiler@2.6.14 (xxxxxx/node_modules/vue-template-compiler/package.json)

This may cause things to work incorrectly. Make sure to use the same version for both.
If you are using vue-loader@>=10.0, simply update vue-template-compiler.
If you are using vue-loader@<10.0 or vueify, re-installing vue-loader/vue

[2022-05-16 09:39] #192 closed, assigned to nobody

[2022-05-16 09:40] weijian-zhu commented on #189
@vue/compiler-sfc does not work either  @mokone91

[2022-05-18 07:35] pomelo-alias commented on #140
two case：
1. webpack's version earlier than 5; you can remove svg in file-loader's rule
2. webpack 5 use Asset Modules type replaces those asset loader; so if you run `vue inspect --rule svg` will find these is a type in config, which is 'asset/resource'; then you can change it's value to 'javascript/auto'. for more detail you can check https://webpack.js.org/guides/asset-modules/

[2022-05-22 18:31] darrinmn9 commented on #156
@Excalibaard is your solution for Vue2 or Vue3? Because looking at the latest `dev` branch for commit `WIP SVGO 2.x`, it seems that if you are supporting Vue2 you need to add:

[code]

  https://github.com/visualfanatic/vue-svg-loader/blob/dev/index.js#L16-L18

[2022-05-23 21:51] Excalibaard commented on #156
@rightaway Easiest solution is to pick a different package that's actively maintained, though it has a different way to use it:

~~https://github.com/oliverfindl/vue-svg-inline-loader~~

EDIT: This package also relies on SVGO 1.x.

Otherwise, you can still use this package, but without the svgo part. The below example shows importing SVG as component using the 'inline' query, for example `import S

[2022-05-24 02:41] anthonylebrun commented on #38
@joaopslins It took a bit of digging, but here's how I got this working for `@vue/vue2-jest` and `jest 28`:

Update `svgTransform.js` to:
[code]

jest.config.js stays the same:

[code]

And as @visualfanatic pointed out, make sure you run jest with the `--no-cache` flag option i.e.

[code]

Otherwise you may not see any impact after updating `svgTransform.js`. I didn't realize jest was caching the

[2022-05-24 13:42] anthonylebrun commented on #38
As a sidenode, make sure to run [--clearCache](https://jestjs.io/docs/cli#--clearcache) after you make this change... Since `--no-cache` only skips the cache and doesn't reset it, you maybe experience stale issues even after fixing your `svgTransform.js` if you don't reset it explicitly.

[2022-06-01 15:15] bjornharrtell commented on #190
I can recommend https://github.com/jpkleemans/vite-svg-loader

[2022-06-09 05:18] joaopslins commented on #38
@anthonylebrun Thank you! This worked well! I appreciate the help 🙇

[2022-06-17 01:44] kylefarris commented on #190
@doooooit Using vue2 with webpack 5 I can't even get the beta running anymore 👎🏼

[2022-06-19 14:08] ChrisRoss5 commented on #156
@Excalibaard [vue-svg-inline-loader](https://github.com/oliverfindl/vue-svg-inline-loader) is not actively maintained.

[2022-06-20 10:45] Excalibaard commented on #156
@ChrisRoss5 You're correct. It has been updated more recently, but also uses SVGO 1.x. I'll remove that recommendation.

[2022-06-29 20:49] augustoyuudi commented on #148
I meet the same issue.
My `import` statement was missing the `?inline` query string as described in the [docs](https://vue-svg-loader.js.org/faq.html#how-to-use-both-inline-and-external-svgs)

[2022-09-02 09:32] linghengqian commented on #185
- CC @damianstasik

- I think this requires a documentation related PR?

[2022-09-02 11:02] linghengqian commented on #189
You need to provide a reproducible example.  If not, this issue should be closed and marked as invalid.

[2022-09-07 17:00] CryptozombiesCorp commented on #189
Yeah this project no longer works with webpack 5. best to move to something else

[2022-10-04 01:17] dylan904 commented on #136
So this updated fix is for Vue 3. In the updated configuration docs, it shows for Nuxt 1 & 2, but not 3. Would you be able to add supported config for Nuxt 3 as well?

[2022-11-09 18:25] rdhainaut commented on #144
Unfortunately it seems doesn't work with svgo 3 :(

[2022-11-16 02:25] yuhua-chen commented on #180
@grindpride I could use dynamic component to load the svgs by this:

[code]

More info: https://stackoverflow.com/questions/65950655/dynamic-component-in-vue3-composition-api

[2022-11-24 11:05] delete-rain opened #200 "nuxt3 can use?"
next3 can use `vue-svg-loader` ?
How to do ?

[2022-11-29 11:50] digitalcortex commented on #180
Is there any security concern when providing the client access to telling server what path to load from?

[2022-11-29 11:51] digitalcortex commented on #180
Is there any security concern when providing the client access to telling server what path to load from?